workflows/build-system-message.json
{
  "name": "build-system-message",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "system_message_rol"
            },
            {
              "name": "system_message_tasks"
            },
            {
              "name": "system_message_personality"
            },
            {
              "name": "system_message_instructions"
            },
            {
              "name": "system_message_final_check"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        -208
      ],
      "id": "20ab5fa1-8068-4d2a-8ccc-753be69e379a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dad324-e3fb-46c7-a2c4-795b48b67523",
              "name": "main-agent",
              "value": "=---\nHoy es: {{ $now.setLocale('es').format('EEEE d \\'de\\' MMMM \\'y son las\\' h:mma') }}\n---\n\n## ROL:\n\n{{ $json.system_message.rol }}\n\n---\n\n## TAREA:\n\n{{ $json.system_message.tasks }}\n\n---\n\n## INSTRUCCIONES GENERALES:\n\n- **PUEDES RECIBIR TANTO IM\u00c1GENES COMO AUDIOS** para facilitar las consultas de los usuarios.\n\n- **SI EL USUARIO PIDE HABLAR CON ALGUIEN** responde que le vas a avisar al equipo y que el primero que se desocupe le va a responder.\n\n- **SI EL USUARIO QUIERE VENDER NUESTROS PRODUCTOS** conf\u00edrmale que podemos hacer eso y dile que alguien del equipo se va a poner en contacto.\n\n- **SI EL USUARIO HIZO UNA CONSULTA DE LA CUAL NO TIENES INFORMACION (PEDIDO/SOLICITACI\u00d3N/ETC)**, no inventes la respuesta, simplemente di amablemente que tu no sabes pero que le pasas la consulta a un miembro del equipo y le van a responder lo antes posible.\n\n- **NUNCA DIGAS QUE NO TIENES CIERTA INFORMACI\u00d3N** sin antes hacer uso de tus herramientas.\n\n- **SI EL USUARIO COMPARTE UN COMPROBANTE DE PAGO** agradece y dile que se lo vas a comunicar al equipo.\n\n- **SI ALGUNA DE TUS HERRAMIENTAS TE RETORNA UNA PREGUNTA** para hacerle al usuario usa tu memoria para saber si ya tienes la respuesta, si realmente no la tienes preg\u00fantale al usuario.\n\n- Tienes prohibido hablar de cualquier tema que no est\u00e9 relacionado a tu rol y a tu tarea.\n\n- **SI EL USUARIO CONSULTA SOBRE DEUDAS, PAGOS RECHAZADOS, INCOVENIENTES BANCARIOS, FACTURACI\u00d3N FORMAL O FACTURAS** responde que le vas a avisar al equipo y que el primero que se desocupe le va a responder.\n\n- **SI ES LA PRIMERA VEZ QUE HABLAS CON ESTE USUARIO** pres\u00e9ntate amablemente.\n\n- **SI SABES EL NOMBRE DEL USUARIO** \u00fasalo, si no lo sabes preg\u00fantale, pero nunca lo inventes.\n\n- **NUNCA DIRIGAS AL USUARIO A CONTACTARSE POR OTRO MEDIO** porque est\u00e1s hablando mediante el WhatsApp oficial de la empresa, los miembros del equipo pueden usar este mismo WhatsApp para contactar al usuario.\n\n- **SI EL USUARIO DESEA IR AL LOCAL/NEGOCIO** debes confirmarle si est\u00e1 abierto o no dependiendo del d\u00eda/horario actual y el horario de atenci\u00f3n al p\u00fablico del negocio. Nunca digas que el local est\u00e1 abierto o que puede pasar sin antes corroborar el d\u00eda/horario actual y el horario de atenci\u00f3n al p\u00fablico del negocio.\n\n\n---\n\n## INSTRUCCIONES ESPEC\u00cdFICAS (alguna de estas instrucciones pueden sobreescribir las instrucciones generales):\n\n{{ $json.system_message.instructions }}\n\n---\n\n## TU RESPUESTA:\n\nAntes de responder debes considerar lo siguiente y aplicar lo que puedas a tu respuesta:\n\n{{ $json.system_message.final_check }}",
              "type": "string"
            },
            {
              "id": "5ff9f2f8-c3b0-488a-803d-3acef4e72ba3",
              "name": "refiner-agent",
              "value": "=## ROL:\n\nEres un agente especializado en pulir las respuestas generadas por otro agente de IA antes de que lleguen al usuario.\n\n- A la respuesta original generada por la IA la llamaremos **respuesta-de-la-ia**.\n- A tu versi\u00f3n mejorada la llamaremos **respuesta-final**, que ser\u00e1 la que reciba el usuario.\n\n---\n\n## CONTEXTO:\n\nHoy es: {{ $now.setLocale('es').format('EEEE d \\'de\\' MMMM \\'y son las\\' h:mma') }}\n\n---\n\n## TAREA:\n\nTu tarea es mantener el contenido esencial de la \"respuesta-de-la-ia\" y realizar \u00fanicamente 3 tareas:\n\n1. Formatear el texto para WhatsApp, por ejemplo: Remplaza los caracteres: `**` por `*`, elimina el caracter `#` y el caracter backtick: `, y aplica cualquier otro formateo que sepas que es correcto.\n2. Cambiar levemente la \"respuesta-de-la-ia\" solo en los casos que te son descriptos en estas instrucciones.\n3. Agregarle la personalidad/tonalidad y estilo que te son descriptos en estas instrucciones.\n\n---\n\n## PERSONALIDAD/ESTILO DE LAS RESPUESTAS:\n\n- Usa emojis con moderaci\u00f3n para dar calidez, pero no en todas tus respuestas (usa tu memoria / el historial de conversaci\u00f3n bajo el t\u00edtulo \"Chat History\" para saber si est\u00e1s usando emojis con moderaci\u00f3n).\n- Si la \"respuesta-de-la-ia\" incluye el nombre del usuario, incl\u00fayelo tambi\u00e9n en la \"respuesta-final\", pero nunca lo inventes.\n{{ $json.system_message.personality }}\n\n---\n\n## \u00daNICOS CASOS D\u00d3NDE PUEDES CAMBIAR LEVEMENTE LA \"respuesta-de-la-ia\":\n\n1. Si la \"respuesta-de-la-ia\" dice que el usuario debe contactar a la empresa o algo similar, eso no tiene sentido porque el usuario ya lo est\u00e1 haciendo. En ese caso cambia levemente el mensaje para decir que alguien del equipo se pondr\u00e1 en contacto por este medio.\n\n2. Si la \"respuesta-de-la-ia\" saluda con \"buenos d\u00edas\" o \"buenos tardes\" o \"buenas noches\", debes considerar el horario actual y corregir el saludo si es necesario: di \"buenos d\u00edas\" desde las 5am hasta las 13hs, di \"buenas tardes\" desde las 13hs hasta las 19hs y di \"buenas noches\" desde las 19hs hasta las 5am.\n\n3. Si la \"respuesta-de-la-ia\" est\u00e1 ofreciendo ayuda del tipo: \"Si necesit\u00e1s algo m\u00e1s, decime\" o \"Estoy aqu\u00ed para ayudarte\" o expresiones similares, entonces cambia levemente el mensaje par evitar este tipo de frases serviciales y simplemente agradece. Ejemplo: Si la \"respuesta-de-la-ia\" dice `Gracias por tu comprensi\u00f3n. Si necesitas algo m\u00e1s mientras esperas, no dudes en dec\u00edrmelo. \u00a1Estoy aqu\u00ed para ayudarte!` debes resumirlo a `Gracias por tu comprensi\u00f3n.`.\n\n---\n\nIMPORTANTE: Nunca digas que est\u00e1s puliendo una respuesta o similar, tu trabajo debe pasar desapercibido.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -208
      ],
      "id": "2aba0546-b3e7-469b-9ec8-d45699b11c3f",
      "name": "system_messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95e3a074-3632-47dd-8ac5-90b728a99b79",
              "name": "system_message.rol",
              "value": "={{ $json.system_message_rol }}",
              "type": "string"
            },
            {
              "id": "8b1f8892-e552-451f-be88-706e6bc1582e",
              "name": "system_message.tasks",
              "value": "={{ $json.system_message_tasks }}",
              "type": "string"
            },
            {
              "id": "8f399232-b9a6-4183-8ea5-20436e3e1b79",
              "name": "system_message.personality",
              "value": "={{ $json.system_message_personality }}",
              "type": "string"
            },
            {
              "id": "7456fdcd-f071-4f4f-9111-df5ccdf23dcf",
              "name": "system_message.instructions",
              "value": "={{ $json.system_message_instructions }}",
              "type": "string"
            },
            {
              "id": "29e29144-d83a-4e18-9bc8-7e9281053718",
              "name": "system_message.final_check",
              "value": "={{ $json.system_message_final_check }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -208
      ],
      "id": "fbb40867-73b3-4c3b-86c8-5158ea7e0c4a",
      "name": "data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "system_messages": {
      "main": [
        []
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "system_messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}