workflows/build-system-message - v3.3.json
{
  "name": "build-system-message - v3.3",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "business_name"
            },
            {
              "name": "repo_name"
            },
            {
              "name": "language"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        -208
      ],
      "id": "04598b9b-7135-4c04-9bec-c11def846503",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "cccc, LLLL d 'of' y, 'y la hora es:' tt",
        "outputFieldName": "formatted_date",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1264,
        -208
      ],
      "id": "989b168d-c757-46fe-9c32-56c347c49ff7",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dad324-e3fb-46c7-a2c4-795b48b67523",
              "name": "main-agent",
              "value": "=---\nEl idioma de tu output debe ser: \"{{ $('When Executed by Another Workflow').item.json.language }}\"\nHoy es: \"{{ $('Set Data').item.json.formatted_date }}\"\n---\n\n## ROL:\n\nEres \"{{ $('Set Data').item.json.bot.name }}\", el asistente virtual de \"{{ $('Set Data').item.json.company.name }}\", una empresa dedicada a \"{{ $('Set Data').item.json.company.description }}\". Te especializas en \"{{ $('Set Data').item.json.bot.specialization }}\" y atendés a clientes por WhatsApp con respuestas breves siguiendo estrictamente las instrucciones que te son indicadas.\n\n---\n\n## TAREA:\n\nTu objetivo principal es \"{{ $('Set Data').item.json.bot.primary_task }}\".\n\n---\n\n## INSTRUCCIONES GENERALES:\n\n\"{{ $('Set Data').item.json['general-instructions'] }}\"\n\n---\n\n## INSTRUCCIONES ESPECÍFICAS (alguna de estas instrucciones pueden sobreescribir las instrucciones generales):\n\n\"{{ $('Set Data').item.json.bot.instructions }}\"\n\n---\n\n## TU RESPUESTA:\n\nAntes de responder debes considerar lo siguiente y aplicar lo que puedas a tu respuesta:\n\n\"{{ $('Set Data').item.json['final-check'] }}\"",
              "type": "string"
            },
            {
              "id": "c17151f3-4b29-4285-9161-53f67df9af04",
              "name": "company-advisor-agent",
              "value": "=Eres el asistente de un agente ia, no hablas directamente con el cliente. Recibes una consulta del agente ia y usas tu system_message para brindar la información requerida. Si no dispones de la información no la inventas, respondes que no tienes esa información.\n\n## INFORMACIÓN DE LA EMPRESA:\n\nUbicación: \"{{ $('Set Data').item.json.company.location }}\".\nHorario de atención: \"{{ $('Set Data').item.json.company.customer_service_hours }}\".\n\n---\n\nMedios y políticas de pago:\n{{ $('Set Data').item.json.company.payment_methods_and_policies }}.\n\n---\n\nMedios y políticas de envío:\n{{ $('Set Data').item.json.company.shipping_methods_and_policies }}.\n\n---\n\nPolíticas de cambios y devoluciones:\n{{ $('Set Data').item.json.company.return_and_exchange_policies }}.\n\n---\n\nPolíticas de reservas:\n{{ $('Set Data').item.json.company.reservation_policies }}.\n\n---\n\nSitio web: \"{{ $('Set Data').item.json.company.website }}\".\nEmail: \"{{ $('Set Data').item.json.company.email }}.\".\nInstagram: \"{{ $('Set Data').item.json.company.social_media.instagram }}\".\nFacebook: \"{{ $('Set Data').item.json.company.social_media.facebook }}\".\n",
              "type": "string"
            },
            {
              "id": "5ff9f2f8-c3b0-488a-803d-3acef4e72ba3",
              "name": "refiner-agent",
              "value": "=## ROL:\n\nEres un agente especializado en pulir las respuestas generadas por otro agente de IA antes de que lleguen al usuario.\n\n- A la respuesta original generada por la IA la llamaremos **respuesta-de-la-ia**.\n- A tu versión mejorada la llamaremos **respuesta-final**, que será la que reciba el usuario.\n\n---\n\n## CONTEXTO:\n\n- El idioma de tu output debe ser: \"{{ $('When Executed by Another Workflow').item.json.language }}\".\n- Hoy es: \"{{ $('Set Data').item.json.formatted_date }}\".\n\n---\n\n## TAREA:\n\nTu tarea es mantener el contenido esencial de la \"respuesta-de-la-ia\" y realizar únicamente 3 tareas:\n\n1. Formatear el texto para WhatsApp, por ejemplo: Remplaza los caracteres: `**` por `*`, elimina el caracter `#` y el caracter backtick: `, y aplica cualquier otro formateo que sepas que es correcto.\n2. Cambiar levemente la \"respuesta-de-la-ia\" solo en los casos que te son descriptos en estas instrucciones.\n3. Agregarle la personalidad/tonalidad y estilo que te son descriptos en estas instrucciones.\n\n---\n\n## PERSONALIDAD/ESTILO DE LAS RESPUESTAS:\n\n- Usa emojis con moderación para dar calidez, pero no en todas tus respuestas (usa tu memoria / el historial de conversación bajo el título \"Chat History\" para saber si estás usando emojis con moderación).\n- Si la \"respuesta-de-la-ia\" incluye el nombre del usuario, inclúyelo también en la \"respuesta-final\", pero nunca lo inventes.\n- {{ $('Set Data').item.json.bot.tone_and_style }}\n\n---\n\n## ÚNICOS CASOS DÓNDE PUEDES CAMBIAR LEVEMENTE LA \"respuesta-de-la-ia\":\n\n1. Si la \"respuesta-de-la-ia\" dice que el usuario debe contactar a la empresa o algo similar, eso no tiene sentido porque el usuario ya lo está haciendo. En ese caso cambia levemente el mensaje para decir que alguien del equipo se pondrá en contacto por este medio.\n\n2. Si la \"respuesta-de-la-ia\" saluda con \"buenos días\" o \"buenos tardes\" o \"buenas noches\", debes considerar el horario actual y corregir el saludo si es necesario: di \"buenos días\" desde las 5am hasta las 13hs, di \"buenas tardes\" desde las 13hs hasta las 19hs y di \"buenas noches\" desde las 19hs hasta las 5am.\n\n3. Si la \"respuesta-de-la-ia\" está ofreciendo ayuda del tipo: \"Si necesitás algo más, decime\" o \"Estoy aquí para ayudarte\" o expresiones similares, entonces cambia levemente el mensaje par evitar este tipo de frases serviciales y simplemente agradece. Ejemplo: Si la \"respuesta-de-la-ia\" dice `Gracias por tu comprensión. Si necesitas algo más mientras esperas, no dudes en decírmelo. ¡Estoy aquí para ayudarte!` debes resumirlo a `Gracias por tu comprensión.`.\n\n---\n\nIMPORTANTE: Nunca digas que estás puliendo una respuesta o similar, tu trabajo debe pasar desapercibido.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        -208
      ],
      "id": "8ab188fe-e0f8-47e6-a8cf-07dcc0c410b9",
      "name": "system_messages"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "general-instructions",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        -208
      ],
      "id": "e9a818a2-50a2-4a1e-9e03-1b99bd58c64c",
      "name": "Extract from general-instructions"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "pzbl0",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-infra",
          "mode": "list",
          "cachedResultName": "n8n-infra",
          "cachedResultUrl": "https://github.com/pzbl0/n8n-infra"
        },
        "filePath": "instructions/general-instructions.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -528,
        -208
      ],
      "id": "a0c23638-d897-4a14-b441-a9525e28808c",
      "name": "Get general-instructions",
      "webhookId": "e3f5b9f1-2498-410d-bca2-c0e007b91a4f",
      "credentials": {
        "githubApi": {
          "id": "98CNcTcbMJKgZwNd",
          "name": "n8n-business-assistant"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "pzbl0",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-infra",
          "mode": "list",
          "cachedResultName": "n8n-infra",
          "cachedResultUrl": "https://github.com/pzbl0/n8n-infra"
        },
        "filePath": "instructions/final-check.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -80,
        -208
      ],
      "id": "affa189b-1a37-4be0-ba80-b817ddc18b56",
      "name": "Get final-check",
      "webhookId": "e3f5b9f1-2498-410d-bca2-c0e007b91a4f",
      "credentials": {
        "githubApi": {
          "id": "98CNcTcbMJKgZwNd",
          "name": "n8n-business-assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "final-check",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        144,
        -208
      ],
      "id": "bce410fd-8da6-4feb-aef5-f7ea33bd0b0a",
      "name": "Extract from final-check"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "pzbl0",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "=client-info/{{ $('When Executed by Another Workflow').item.json.business_name }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        368,
        -208
      ],
      "id": "903e496d-0103-44d8-a73c-aaa3d265060d",
      "name": "Get client-info",
      "webhookId": "08a60bb8-008a-42a7-b7a6-2ef7d3c21547",
      "credentials": {
        "githubApi": {
          "id": "98CNcTcbMJKgZwNd",
          "name": "n8n-business-assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "clientInfo",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        592,
        -208
      ],
      "id": "8ac24e3a-c500-42f3-9d47-f4e7989f2a52",
      "name": "Extract from client-info"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "pzbl0",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "=client-info/{{ $('When Executed by Another Workflow').item.json.business_name }}.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        816,
        -208
      ],
      "id": "97db43a5-909e-4357-9273-a5753cebd38f",
      "name": "Get client-instructions",
      "webhookId": "08a60bb8-008a-42a7-b7a6-2ef7d3c21547",
      "credentials": {
        "githubApi": {
          "id": "98CNcTcbMJKgZwNd",
          "name": "n8n-business-assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "clientInfo",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1040,
        -208
      ],
      "id": "39d377e5-9402-47bf-a01f-a272837e71cf",
      "name": "Extract from client-instructions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f3c34a4-51e6-4154-b264-8ac6ebac5a12",
              "name": "general-instructions",
              "value": "={{ $('Extract from general-instructions').item.json['general-instructions'] }}",
              "type": "string"
            },
            {
              "id": "9a51dbee-b484-46f8-afac-8c715de7e5d7",
              "name": "final-check",
              "value": "={{ $('Extract from final-check').item.json['final-check'] }}",
              "type": "string"
            },
            {
              "id": "740f1aad-efaf-4e73-9ac4-9d022041b2ce",
              "name": "bot.name",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].bot.name }}",
              "type": "string"
            },
            {
              "id": "d4e5f577-0e99-411b-931e-6f849a2faaa0",
              "name": "bot.tone_and_style",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].bot.tone_and_style }}",
              "type": "string"
            },
            {
              "id": "37fb7c15-9c77-46fd-8ce5-50ddf8df8878",
              "name": "bot.specialization",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].bot.specialization }}",
              "type": "string"
            },
            {
              "id": "818809d6-f9b8-45d9-9234-b95ec413ae68",
              "name": "bot.primary_task",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].bot.primary_task }}",
              "type": "string"
            },
            {
              "id": "0d009b4c-be69-4f94-8858-abe42ce462fb",
              "name": "company.name",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.name }}",
              "type": "string"
            },
            {
              "id": "3edef129-a5f2-4ed8-b9c9-bbbb029e855c",
              "name": "company.description",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.description }}",
              "type": "string"
            },
            {
              "id": "f9759e30-23b4-423a-8e40-013645fa9c33",
              "name": "company.location",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.location }}",
              "type": "string"
            },
            {
              "id": "8da58351-7862-47f5-afb6-0164b328f696",
              "name": "company.customer_service_hours",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.customer_service_hours }}",
              "type": "string"
            },
            {
              "id": "2e44d92d-eed5-40a0-85fd-d777c8f65f72",
              "name": "company.payment_methods_and_policies",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.payment_methods_and_policies }}",
              "type": "string"
            },
            {
              "id": "88507c2a-2a13-4f3a-83fb-b6c27633c8d5",
              "name": "company.shipping_methods_and_policies",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.shipping_methods_and_policies }}",
              "type": "string"
            },
            {
              "id": "b9e195b1-8832-47a5-b698-5b28b4282ca3",
              "name": "company.reservation_policies",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.reservation_policies }}",
              "type": "string"
            },
            {
              "id": "096eb915-163d-4334-92d8-9366fad64535",
              "name": "company.return_and_exchange_policies",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.return_and_exchange_policies }}",
              "type": "string"
            },
            {
              "id": "ca4fad28-477c-4d15-9f66-1b0b9793e94d",
              "name": "company.website",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.website }}",
              "type": "string"
            },
            {
              "id": "ead09a42-823c-4f9a-b3a8-67e9e6c3df72",
              "name": "company.email",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.email }}",
              "type": "string"
            },
            {
              "id": "a2d50a20-e0ad-4039-86cf-a091d85e2f72",
              "name": "company.social_media",
              "value": "={{ $('Extract from client-info').item.json.clientInfo[0].company.social_media }}",
              "type": "object"
            },
            {
              "id": "6b524e35-d2a0-4efa-9118-43e93176aaf4",
              "name": "bot.instructions",
              "value": "={{ $('Extract from client-instructions').item.json.clientInfo }}",
              "type": "string"
            },
            {
              "id": "a773b3dd-ea0e-457c-8da5-55b366531b21",
              "name": "formatted_date",
              "value": "={{ $json.formatted_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -208
      ],
      "id": "97449073-95c1-43cb-93d5-9b6dbff15717",
      "name": "Set Data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get general-instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from general-instructions": {
      "main": [
        [
          {
            "node": "Get final-check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get general-instructions": {
      "main": [
        [
          {
            "node": "Extract from general-instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get final-check": {
      "main": [
        [
          {
            "node": "Extract from final-check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get client-info": {
      "main": [
        [
          {
            "node": "Extract from client-info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from client-info": {
      "main": [
        [
          {
            "node": "Get client-instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from final-check": {
      "main": [
        [
          {
            "node": "Get client-info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get client-instructions": {
      "main": [
        [
          {
            "node": "Extract from client-instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from client-instructions": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "system_messages": {
      "main": [
        []
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "system_messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}