workflows/build-system-message - v2.json
{
  "name": "build-system-message - v2",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "language"
            },
            {
              "name": "business_name"
            },
            {
              "name": "conversation_id",
              "type": "number"
            },
            {
              "name": "chat_history"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-432, -304],
      "id": "40e0a264-bc7d-449e-a0ed-0391edc0d4a0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "cccc, LLLL d 'of' y, 'y la hora es:' tt",
        "outputFieldName": "formatted_date",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [240, -304],
      "id": "7ea1d44c-37fc-4f27-a294-70410436c5e4",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea4f8534-7ea3-4f6a-94c3-4ff2c715fb44",
              "name": "language",
              "value": "={{ $('When Executed by Another Workflow').item.json.language }}",
              "type": "string"
            },
            {
              "id": "71f30ea0-5293-4b37-b898-c7f2be9b3cf7",
              "name": "date_and_time",
              "value": "={{ $json.formatted_date }}",
              "type": "string"
            },
            {
              "id": "a96842ac-a81b-43d6-83d3-be47ba8740f2",
              "name": "general_instructions",
              "value": "={{ $('Get system prompts').item.json['General instructions'] }}",
              "type": "string"
            },
            {
              "id": "1a103297-fc14-4015-8c6f-fe652f7b2e2b",
              "name": "final_check",
              "value": "={{ $('Get system prompts').item.json['Final check'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [464, -304],
      "id": "11481185-8b65-4b20-bda9-79f5ae9cd29a",
      "name": "general-data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98bd2181-146a-4967-b294-e04e82b8745c",
              "name": "bot_name",
              "value": "={{ $('Get client data').first().json['¿Cómo querés que me llame?'] }}",
              "type": "string"
            },
            {
              "id": "291f9e52-6660-4e75-97f3-429f121bda05",
              "name": "bot_personality",
              "value": "={{ $('Get client data').first().json['¿Cuál querés que sea mi tono y estilo al hablar?'] }}",
              "type": "string"
            },
            {
              "id": "d5a53eea-7d67-4c3f-976d-dcf01ec2570d",
              "name": "company_name",
              "value": "={{ $('Get client data').first().json['¿Cuál es el nombre de la empresa/emprendedor para el que trabajo?'] }}",
              "type": "string"
            },
            {
              "id": "efaea4e6-31b0-447a-93a4-9b4e9942b8a6",
              "name": "company_description",
              "value": "={{ $('Get client data').first().json['¿A qué se dedica la empresa/emprendedor para el que trabajo?'] }}",
              "type": "string"
            },
            {
              "id": "9ea1641c-f090-40c4-ac40-cf706d809d10",
              "name": "bot_description",
              "value": "={{ $('Get client data').first().json['¿En qué querés que me especialize?'] }}",
              "type": "string"
            },
            {
              "id": "b38ef601-dd02-4627-b49f-853fc2a5b9d7",
              "name": "bot_task",
              "value": "={{ $('Get client data').first().json['¿Cuál querés que sea mi tarea principal?'] }}",
              "type": "string"
            },
            {
              "id": "6d9bde0b-a05d-4861-b7a9-0921b65ab9eb",
              "name": "bot_instructions",
              "value": "={{ $('Get client data').first().json['Dame instrucciones que debo tener en cuenta'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [688, -304],
      "id": "09a5a623-e714-4f57-a87e-6a0a686d80c6",
      "name": "bot-data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dad324-e3fb-46c7-a2c4-795b48b67523",
              "name": "main-agent",
              "value": "=---\nEl idioma de tu output debe ser: \"{{ $('general-data').first().json.language }}\"\nHoy es: \"{{ $('general-data').first().json.date_and_time }}\"\n---\n\n## ROL:\n\nEres \"{{$('bot-data').first().json.bot_name}}\", el asistente virtual de \"{{$('bot-data').first().json.company_name }}\", una empresa dedicada a \"{{$('bot-data').first().json.company_description}}\". Te especializas en \"{{ $('bot-data').first().json.bot_description }}\" y atendés a clientes por WhatsApp con respuestas breves siguiendo estrictamente las instrucciones que te son indicadas.\n\n---\n\n## TAREA:\n\nTu objetivo principal es \"{{ $('bot-data').first().json.bot_task }}\".\n\n---\n\n## INSTRUCCIONES GENERALES:\n\n\"{{ $('general-data').first().json.general_instructions }}\"\n\n---\n\n## INSTRUCCIONES ESPECÍFICAS (alguna de estas instrucciones pueden sobreescribir las instrucciones generales):\n\n\"{{ $('bot-data').first().json.bot_instructions }}\"\n\n---\n\n## TU RESPUESTA:\n\nAntes de responder debes considerar lo siguiente y aplicar lo que puedas a tu respuesta:\n\n\"{{ $('general-data').first().json.final_check }}\"\n",
              "type": "string"
            },
            {
              "id": "c17151f3-4b29-4285-9161-53f67df9af04",
              "name": "company-advisor-agent",
              "value": "=Eres el asistente de un agente ia, no hablas directamente con el cliente. Recibes una consulta del agente ia y usas tu system_message para brindar la información requerida. Si no dispones de la información no la inventas, respondes que no tienes esa información.\n\n## INFORMACIÓN DE LA EMPRESA:\n\nUbicación: `{{ $('company-data').first().json.location }}`.\nHorario de atención: `{{ $('company-data').first().json.business_hours }}`.\nMedios y políticas de pago: `{{ $('company-data').first().json.payment_policies }}`.\nMedios y políticas de envío: `{{ $('company-data').first().json.shipping_policies }}`.\nPolíticas de cambios y devoluciones: `{{ $json.changes_policies }}`.\nRedes sociales y sitio web: `{{ $('company-data').first().json.website_and_social_media }}`.\n",
              "type": "string"
            },
            {
              "id": "5ff9f2f8-c3b0-488a-803d-3acef4e72ba3",
              "name": "refiner-agent",
              "value": "=## ROL:\n\nEres un agente especializado en pulir las respuestas generadas por otro agente de IA antes de que lleguen al usuario.\n\n- A la respuesta original generada por la IA la llamaremos **respuesta-de-la-ia**.\n- A tu versión mejorada la llamaremos **respuesta-final**, que será la que reciba el usuario.\n\n---\n\n## CONTEXTO:\n\n- El idioma de tu output debe ser: `{{ $('general-data').first().json.language }}`\n- Hoy es: `{{ $('general-data').first().json.date_and_time }}`\n- Te llamas: `{{ $('bot-data').item.json.bot_name }}`\n- No tienes conectada una herramienta de memoria pero SI TIENES el historial de conversación bajo el título \"Chat History\".\n\n---\n\n## TAREA:\n\nTu tarea es mantener el contenido esencial de la \"respuesta-de-la-ia\" y realizar únicamente 3 tareas:\n\n1. Formatear el texto para WhatsApp, por ejemplo: Remplaza los caracteres: `**` por `*`, elimina el caracter `#` y el caracter backtick: `, y aplica cualquier otro formateo que sepas que es correcto.\n2. Cambiar levemente la \"respuesta-de-la-ia\" solo en los casos que te son descriptos en estas instrucciones.\n3. Agregarle la personalidad/tonalidad y estilo que te son descriptos en estas instrucciones.\n\n### PERSONALIDAD/ESTILO DE LAS RESPUESTAS:\n\n- Usa emojis con moderación para dar calidez, pero no en todas tus respuestas (usa tu memoria / el historial de conversación bajo el título \"Chat History\" para saber si estás usando emojis con moderación).\n\n{{ $('bot-data').item.json.bot_personality }}\n\n### ÚNICOS CASOS DÓNDE PUEDES CAMBIAR LEVEMENTE LA \"respuesta-de-la-ia\":\n\n1. Si es la primera vez que hablás con alguien preséntate amablemente pero si ya te presentaste no lo hagas nuevamente, (usa el historial de conversación bajo el título \"Chat History\" para saber si es la primer conversación). Si sabes el nombre del cliente úsalo, si no lo sabes pregúntale.\n\n2. Si la \"respuesta-de-la-ia\" dice que el usuario debe contactar a la empresa o algo similar, eso no tiene sentido porque el usuario ya lo está haciendo. En ese caso cambia levemente el mensaje para decir que alguien del equipo se pondrá en contacto por este medio.\n\n3. Si la \"respuesta-de-la-ia\" está repitiendo una idea/mensaje que ya dijo con anterioridad (usa el \"chatHistory\" para saber), cambia levemente la respuesta para evitar sonar repetitivo.\n\n4. Si la \"respuesta-de-la-ia\" saluda con \"buenos días\" o \"buenos tardes\" o \"buenas noches\", debes considerar el horario actual y corregir el saludo si es necesario: di \"buenos días\" desde las 5am hasta las 13hs, di \"buenas tardes\" desde las 13hs hasta las 19hs y di \"buenas noches\" desde las 19hs hasta las 5am.\n\n5. Si la \"respuesta-de-la-ia\" está ofreciendo ayuda del tipo: \"Si necesitás algo más, decime\" o \"Estoy aquí para ayudarte\" o expresiones similares, analiza el historial de conversación bajo el título \"Chat History\" y si ya has ofrecido ayuda antes entonces cambia levemente el mensaje par evitar ofrecer nuevamente.\n\n## IMPORTANTE:\n\n1. Ten encuenta el historial de conversación bajo el título \"Chat History\" al generar la respuesta-final.\n2. Tu no tienes información de la empresa, de sus servicios, de sus productos y precios, etc, por lo tanto es muy importante que nunca agregues información a la respuesta-de-la-ia, solo cambia la respuesta si se dan algunos de los casos mencionados anteriormente.\n\n## CHAT HISTORY:\n\n{{ $('When Executed by Another Workflow').item.json.chat_history }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1136, -304],
      "id": "22690e77-ac81-425f-a669-2073a5bfa3db",
      "name": "system_messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1619008e-f62b-42a2-b63d-6613937e0e94",
              "name": "location",
              "value": "={{ $('Get client data').first().json['Ubicación'] }}",
              "type": "string"
            },
            {
              "id": "cb8ddb31-f39d-4a8e-8cfb-edb8401164e4",
              "name": "business_hours",
              "value": "={{ $('Get client data').first().json['Horarios de atención al cliente'] }}",
              "type": "string"
            },
            {
              "id": "2bb78966-15d9-4b6a-a862-ffc5f0c3ea81",
              "name": "payment_policies",
              "value": "={{ $('Get client data').first().json['Medios y políticas de pago'] }}",
              "type": "string"
            },
            {
              "id": "0777d62d-28a0-4a97-bdeb-f7905b317d39",
              "name": "shipping_policies",
              "value": "={{ $('Get client data').first().json['Medios y políticas de envío'] }}",
              "type": "string"
            },
            {
              "id": "f099c337-b1d8-4931-8fff-6f85b8870d64",
              "name": "changes_policies",
              "value": "={{ $('Get client data').first().json['Políticas de cambios y devoluciones'] }}",
              "type": "string"
            },
            {
              "id": "5bfacf46-b6dc-4052-ac9e-72b2b83afd3e",
              "name": "website_and_social_media",
              "value": "={{ $('Get client data').first().json['Sitio web, correo electrónico y redes sociales'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [912, -304],
      "id": "41895a75-9c42-491b-9090-a48519e64b57",
      "name": "company-data"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KmvfmxEdyeJxCrxw8iBfyQqhaXXSncsXRBbsxnWcJFo",
          "mode": "list",
          "cachedResultName": "client-instructions-demos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KmvfmxEdyeJxCrxw8iBfyQqhaXXSncsXRBbsxnWcJFo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.business_name }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [16, -304],
      "id": "b0624967-85dd-4dd1-bc39-584f26e03633",
      "name": "Get client data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hwaKBKfC0cca7R8O",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GeAntxTWMgCuT8-31CcJXfMZuzMm96VFh4N6vn8Z4QA",
          "mode": "list",
          "cachedResultName": "system-prompts (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GeAntxTWMgCuT8-31CcJXfMZuzMm96VFh4N6vn8Z4QA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 863171160,
          "mode": "list",
          "cachedResultName": "system-prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GeAntxTWMgCuT8-31CcJXfMZuzMm96VFh4N6vn8Z4QA/edit#gid=863171160"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-208, -304],
      "id": "058e394a-4704-4f62-a1e5-690eeeb1ad1e",
      "name": "Get system prompts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hwaKBKfC0cca7R8O",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get system prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "general-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "general-data": {
      "main": [
        [
          {
            "node": "bot-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot-data": {
      "main": [
        [
          {
            "node": "company-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company-data": {
      "main": [
        [
          {
            "node": "system_messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get client data": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get system prompts": {
      "main": [
        [
          {
            "node": "Get client data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
