workflows/build-system-message - v1.json
{
  "name": "build-system-message - v1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "response-language"
            },
            {
              "name": "main-prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        100
      ],
      "id": "40e0a264-bc7d-449e-a0ed-0391edc0d4a0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        440,
        100
      ],
      "id": "4c6c3a46-8543-46c3-839f-367ae599a5c3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "cccc, LLLL d 'of' y, 'and the time is:' tt",
        "outputFieldName": "formatted_date",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7ea1d44c-37fc-4f27-a294-70410436c5e4",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        220,
        100
      ],
      "id": "86e5432e-40bb-4b01-95fe-3721843864e3",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dad324-e3fb-46c7-a2c4-795b48b67523",
              "name": "system_message",
              "value": "=---\nToday is: {{ $json.output[0].formatted_date }}\nYour output must be in the language: {{ $json.output[1]['response-language'] }}\n---\n\n{{ $json.output[1]['main-prompt'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        100
      ],
      "id": "22690e77-ac81-425f-a669-2073a5bfa3db",
      "name": "system_message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3726277-cb6e-4131-8c99-a4aba0f058c1",
              "name": "main-prompt",
              "value": "={{ $json['main-prompt'] }}",
              "type": "string"
            },
            {
              "id": "18d2c78f-eba4-42bf-ac1b-0de0ef0c804e",
              "name": "response-language",
              "value": "={{ $json['response-language'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        200
      ],
      "id": "e1866e3b-2697-4af4-90c7-0fb7406e4012",
      "name": "Data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "system_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}