workflows/create-new-instance.json
{
  "name": "create-new-instance",
  "nodes": [
    {
      "parameters": {
        "jsCode": "function removeBase64Prefix(base64String) {\n  // Regular expression to detect and remove the data:image/*;base64, prefix\n  const regex = /^data:image\\/[a-zA-Z]+;base64,/;\n  return base64String.replace(regex, '');\n}\n\n// Get the Base64 string from the input of n8n\nconst input = $input.first().json.data.base64; // Adjust 'base64String' to match your input field name\n\n// Process the string and return only the Base64 part\nconst cleanedBase64 = removeBase64Prefix(input);\n\n// Return the result as a new item\nreturn [{ json: { cleanedBase64 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -336
      ],
      "id": "0469fb2a-0a54-4059-994f-1721ee9481c0",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2979b370-55ff-4080-80f6-baeda28df3f3",
              "name": "instanceName",
              "value": "={{ $json.body.instanceName }}",
              "type": "string"
            },
            {
              "id": "168b7387-cfd7-48a6-8740-821dff3d5c7e",
              "name": "instanceNumber",
              "value": "={{ $json.body.instanceNumber }}",
              "type": "string"
            },
            {
              "id": "c411b1af-a583-4b41-ba0d-e6739214dde2",
              "name": "messageFromName",
              "value": "={{ $json.body.messageFromName }}",
              "type": "string"
            },
            {
              "id": "6bde2de1-58d4-4433-bd86-720067b7d085",
              "name": "numberToSendQR",
              "value": "={{ $json.body.numberToSendQR }}",
              "type": "string"
            },
            {
              "id": "d4e0a2f5-c19e-412f-9118-b5a0e72c1cb5",
              "name": "numberToSendInfo",
              "value": "={{ $json.body.numberToSendInfo }}",
              "type": "string"
            },
            {
              "id": "de9539fc-5fb1-4b9d-a376-2c1ed9f11391",
              "name": "messageCaption",
              "value": "={{ $json.body.messageCaption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        -336
      ],
      "id": "e663dedc-d41e-4b10-bd70-8a139e1cd3fc",
      "name": "Set data"
    },
    {
      "parameters": {
        "path": "a5f91027-8fd6-44e3-a184-b2563ada6336",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1024,
        -336
      ],
      "id": "70fa7b0d-eef9-4de4-81de-efba250c37a2",
      "name": "Webhook",
      "webhookId": "a5f91027-8fd6-44e3-a184-b2563ada6336"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        -336
      ],
      "id": "8e5eb70c-44b8-4fe9-a5c3-da765b1770e1",
      "name": "Wait",
      "webhookId": "4ca0c43b-ba5c-4952-8ef2-ebf77b090758"
    },
    {
      "parameters": {
        "instanceName": "={{ $json.instanceName }}",
        "number": "={{ $json.instanceNumber }}",
        "options_Create_instance": {
          "instanceSettings": {
            "settings": {
              "rejectCall": true,
              "groupsIgnore": true
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -576,
        -336
      ],
      "id": "cfbaba82-be80-4d67-8761-51450f1f2050",
      "name": "Create instance",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "instance-connect",
        "instanceName": "={{ $json.data.instance.instanceName }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -352,
        -336
      ],
      "id": "1c2e24ad-b586-4914-a448-241e6f1529a7",
      "name": "Connect to instance",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "={{ $('Set data').item.json.messageFromName }}",
        "remoteJid": "={{ $('Set data').item.json.numberToSendQR }}",
        "media": "={{ $json.cleanedBase64 }}",
        "caption": "={{ $('Set data').item.json.messageCaption }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        96,
        -336
      ],
      "id": "e17c6609-4bc0-4501-834e-5385dfb1a888",
      "name": "Send QR",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Set data').item.json.messageFromName }}",
        "remoteJid": "={{ $('Set data').item.json.numberToSendInfo }}",
        "messageText": "El c\u00f3digo QR fue correctamente enviado al cliente \u2705",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        320,
        -336
      ],
      "id": "1550df97-f16e-41a2-8b79-79f984c3ac0c",
      "name": "Send QR confirmation message",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fetch-instances",
        "instanceName": "={{ $('Set data').item.json.instanceName }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        768,
        -336
      ],
      "id": "e7962f34-4767-4e1c-beb0-eb0c7df4c5b0",
      "name": "Check instance",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7d1b739-6463-454c-adfc-92e4572c18e1",
              "leftValue": "={{ $json.data[0].connectionStatus }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        -336
      ],
      "id": "6fa03421-8c32-4bc9-b90b-7a87af7fce62",
      "name": "If connected"
    },
    {
      "parameters": {
        "operation": "delete-instance",
        "instanceName": "={{ $('Set data').item.json.instanceName }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1216,
        -240
      ],
      "id": "98798b4e-82b5-4968-9ca4-1a30c3cbcc4b",
      "name": "Delete instance",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Set data').item.json.messageFromName }}",
        "remoteJid": "={{ $('Set data').item.json.numberToSendInfo }}",
        "messageText": "=El WhatsApp no pudo ser conectado \u274c, vuelve a intentar.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1440,
        -240
      ],
      "id": "9b9fd141-e583-4c02-af5d-fd5973eb3c3c",
      "name": "Send message",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Set data').item.json.messageFromName }}",
        "remoteJid": "={{ $('Set data').item.json.instanceNumber }}",
        "messageText": "El WhatsApp fue conectado correctamente \u2705",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1216,
        -432
      ],
      "id": "4719abef-faa1-4dfc-b60e-2cb051a07a8c",
      "name": "Send QR connected to client",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Set data').item.json.messageFromName }}",
        "remoteJid": "={{ $('Set data').item.json.numberToSendInfo }}",
        "messageText": "El WhatsApp fue conectado correctamente \u2705",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1440,
        -432
      ],
      "id": "178eb127-31c8-4fdd-9c88-526717f86ffb",
      "name": "Send QR connected to manager",
      "credentials": {
        "evolutionApi": {
          "id": "hRSaxIv9HBpdBse1",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Send QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Create instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create instance": {
      "main": [
        [
          {
            "node": "Connect to instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect to instance": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send QR": {
      "main": [
        [
          {
            "node": "Send QR confirmation message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send QR confirmation message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check instance": {
      "main": [
        [
          {
            "node": "If connected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If connected": {
      "main": [
        [
          {
            "node": "Send QR connected to client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete instance": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send QR connected to client": {
      "main": [
        [
          {
            "node": "Send QR connected to manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}