workflows/firewall - v2.3.json
{
  "name": "firewall - v2.3",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectName"
            },
            {
              "name": "chatwootUrl"
            },
            {
              "name": "accountId",
              "type": "number"
            },
            {
              "name": "conversationId",
              "type": "number"
            },
            {
              "name": "messageId",
              "type": "number"
            },
            {
              "name": "messageContent"
            },
            {
              "name": "messageType"
            },
            {
              "name": "messageFromHuman",
              "type": "boolean"
            },
            {
              "name": "messageFromHumanPause",
              "type": "boolean"
            },
            {
              "name": "humanPauseDurationInMinuts",
              "type": "number"
            },
            {
              "name": "createdAt"
            },
            {
              "name": "eventType"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1088,
        96
      ],
      "id": "e44b9d06-0d9a-4577-8c9a-f6db13404edf",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c890b60-be7b-496f-8d22-878ee2f87ad4",
              "leftValue": "={{ $json.messageFromHuman }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        96
      ],
      "id": "762aa956-29f1-4393-9c48-fd2d4aaa8f05",
      "name": "Filter human"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "8de7b3a8-37f0-4516-9f86-faca923dddc6",
      "name": "Main flow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5682122c-b06f-4bbf-a3d9-e6c812865293",
              "name": "last_message_content",
              "value": "={{ $('Get last message').item.json.last_message.last() }}",
              "type": "string"
            },
            {
              "id": "fcdeec06-2ac4-44c4-bfae-d775676d5e44",
              "name": "projectName",
              "value": "={{ $('When Executed by Another Workflow').item.json.projectName }}",
              "type": "string"
            },
            {
              "id": "6806ee3f-2fc1-494a-b6db-be6bdf21a74a",
              "name": "chatwootUrl",
              "value": "={{ $('When Executed by Another Workflow').item.json.chatwootUrl }}",
              "type": "string"
            },
            {
              "id": "6b2e066d-a2e7-495c-b19d-55a7ca362983",
              "name": "accountId",
              "value": "={{ $('When Executed by Another Workflow').item.json.accountId }}",
              "type": "number"
            },
            {
              "id": "256216a6-e2d4-4b6c-955c-bdcd9326be3c",
              "name": "conversationId",
              "value": "={{ $('When Executed by Another Workflow').item.json.conversationId }}",
              "type": "number"
            },
            {
              "id": "19a49c63-60f6-476f-b279-cf3c3d5b7d27",
              "name": "messageId",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageId }}",
              "type": "number"
            },
            {
              "id": "89bb3eb7-2fff-4e30-b520-cf46f1a201e6",
              "name": "messageContent",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageContent }}",
              "type": "string"
            },
            {
              "id": "83c84889-b33c-4371-a5ba-ee0717cc0f47",
              "name": "messageType",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageType }}",
              "type": "string"
            },
            {
              "id": "0270b2e3-a840-402b-ba56-e72368ba1d5f",
              "name": "messageFromHuman",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageFromHuman }}",
              "type": "boolean"
            },
            {
              "id": "fba996cf-df61-4420-94d8-65a924e68828",
              "name": "messageFromHumanPause",
              "value": "={{ $('Get human-intervention message').item.json.human_interventions.length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "be5f4fa0-18b4-47b6-b976-649105f3b307",
              "name": "humanPauseDurationInMinuts",
              "value": "={{ $('When Executed by Another Workflow').item.json.humanPauseDurationInMinuts }}",
              "type": "number"
            },
            {
              "id": "0acf821e-2563-458b-9f20-6a9873ed284b",
              "name": "createdAt",
              "value": "={{ $('When Executed by Another Workflow').item.json.createdAt }}",
              "type": "string"
            },
            {
              "id": "35b5bc23-fe92-444a-a1fe-85816f2d5a96",
              "name": "eventType",
              "value": "={{ $('When Executed by Another Workflow').item.json.eventType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        96
      ],
      "id": "a6ffa07c-9d11-45ff-9356-9c7f7d569f12",
      "name": "Set data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2502a693-3633-4f08-b368-3aff5a229ecb",
              "leftValue": "={{ $('Set data').item.json.messageContent }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "96ab1f4e-54ac-45bb-9717-4a32e07519f0",
              "leftValue": "={{ $('Set data').item.json.last_message_content }}",
              "rightValue": "={{ $('Set data').item.json.messageContent }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        192
      ],
      "id": "6c5974d9-f611-4528-9092-6d7b1f6286d0",
      "name": "Bot message?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        928,
        96
      ],
      "id": "fd6ad245-5ddb-4353-9522-f6ab826da9f6",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        928,
        288
      ],
      "id": "646e0e1c-5035-4219-9c73-e70a512346cc",
      "name": "Filter 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2502a693-3633-4f08-b368-3aff5a229ecb",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "549d6ff9-ed8b-4270-8bb1-40cbb77c309c",
              "leftValue": "={{ $json.messageFromHumanPause }}",
              "rightValue": "bot",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        96
      ],
      "id": "ec7e6d56-fe34-4380-a10f-e255b08a4b67",
      "name": "Incoming?"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "last_message",
        "key": "={{ $json.projectName }}_{{ $json.accountId }}_{{ $json.conversationId }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -864,
        96
      ],
      "id": "e8d2da76-9d3d-4b57-b156-168ff8d2c94f",
      "name": "Get last message",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.accountId }}_{{ $('Set data').item.json.conversationId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        704,
        96
      ],
      "id": "1f3e0f05-2613-4a98-bb2d-1a6d43130ee7",
      "name": "Delete last message",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c890b60-be7b-496f-8d22-878ee2f87ad4",
              "leftValue": "={{ $('Set data').item.json.eventType }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "06c82458-a425-4e4b-8a05-7118190ced82",
              "leftValue": "={{ $('Set data').item.json.messageContent }}",
              "rightValue": "undefined",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        32,
        96
      ],
      "id": "14dfc63b-da12-4cc9-9912-533d80c2508f",
      "name": "Filter updated & undefined message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Lg5Nq0YShSbn3Swj",
          "mode": "list",
          "cachedResultName": "human-intervention - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "createdAt": "={{ $json.createdAt }}",
            "messageId": "={{ $json.messageId }}",
            "pauseDurationInMinuts": "={{ $('Set data').item.json.humanPauseDurationInMinuts }}",
            "userId": "={{ $json.projectName }}_{{ $json.accountId }}_{{ $('Set data').item.json.conversationId }}"
          },
          "matchingColumns": [
            "conversation_id",
            "account_id",
            "flowdata_message_id",
            "flowdata",
            "chatwoot_url"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pauseDurationInMinuts",
              "displayName": "pauseDurationInMinuts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        704,
        288
      ],
      "name": "human-intervention",
      "id": "97d73032-9cdd-4c37-b5a6-406681f6b83d"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "human_interventions",
        "key": "={{ $('When Executed by Another Workflow').item.json.projectName }}_{{ $('When Executed by Another Workflow').item.json.accountId }}_{{ $('When Executed by Another Workflow').item.json.conversationId }}_human_intervention",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -640,
        96
      ],
      "id": "4d3f0c7d-458d-4717-8c2d-c778997cdf18",
      "name": "Get human-intervention message",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get last message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter human": {
      "main": [
        [
          {
            "node": "Filter updated & undefined message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Filter human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot message?": {
      "main": [
        [
          {
            "node": "Delete last message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "human-intervention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming?": {
      "main": [
        [
          {
            "node": "Main flow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last message": {
      "main": [
        [
          {
            "node": "Get human-intervention message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete last message": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter updated & undefined message": {
      "main": [
        [
          {
            "node": "Incoming?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human-intervention": {
      "main": [
        [
          {
            "node": "Filter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get human-intervention message": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}