workflows/firewall - v2.1.json
{
  "name": "firewall - v2.1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectName"
            },
            {
              "name": "chatwootUrl"
            },
            {
              "name": "accountId",
              "type": "number"
            },
            {
              "name": "conversationId",
              "type": "number"
            },
            {
              "name": "messageId",
              "type": "number"
            },
            {
              "name": "messageContent"
            },
            {
              "name": "messageType"
            },
            {
              "name": "messageFromHuman",
              "type": "boolean"
            },
            {
              "name": "messageFromHumanPause",
              "type": "boolean"
            },
            {
              "name": "humanPauseDurationInMinuts",
              "type": "number"
            },
            {
              "name": "createdAt"
            },
            {
              "name": "eventType"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1088,
        96
      ],
      "id": "85e4dbb0-00ed-44ee-a8a3-317fa471c6fb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c890b60-be7b-496f-8d22-878ee2f87ad4",
              "leftValue": "={{ $json.messageFromHuman }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -416,
        96
      ],
      "id": "78686e5e-efbd-4498-b4cd-bc400bd541ac",
      "name": "Filter human"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "f6f2d8f8-4fba-431a-b50c-9bf5ad816b01",
      "name": "Main flow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5682122c-b06f-4bbf-a3d9-e6c812865293",
              "name": "last_message_content",
              "value": "={{ $json.last_message.last() }}",
              "type": "string"
            },
            {
              "id": "fcdeec06-2ac4-44c4-bfae-d775676d5e44",
              "name": "projectName",
              "value": "={{ $('When Executed by Another Workflow').item.json.projectName }}",
              "type": "string"
            },
            {
              "id": "6806ee3f-2fc1-494a-b6db-be6bdf21a74a",
              "name": "chatwootUrl",
              "value": "={{ $('When Executed by Another Workflow').item.json.chatwootUrl }}",
              "type": "string"
            },
            {
              "id": "6b2e066d-a2e7-495c-b19d-55a7ca362983",
              "name": "accountId",
              "value": "={{ $('When Executed by Another Workflow').item.json.accountId }}",
              "type": "number"
            },
            {
              "id": "256216a6-e2d4-4b6c-955c-bdcd9326be3c",
              "name": "conversationId",
              "value": "={{ $('When Executed by Another Workflow').item.json.conversationId }}",
              "type": "number"
            },
            {
              "id": "19a49c63-60f6-476f-b279-cf3c3d5b7d27",
              "name": "messageId",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageId }}",
              "type": "number"
            },
            {
              "id": "89bb3eb7-2fff-4e30-b520-cf46f1a201e6",
              "name": "messageContent",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageContent }}",
              "type": "string"
            },
            {
              "id": "83c84889-b33c-4371-a5ba-ee0717cc0f47",
              "name": "messageType",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageType }}",
              "type": "string"
            },
            {
              "id": "0270b2e3-a840-402b-ba56-e72368ba1d5f",
              "name": "messageFromHuman",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageFromHuman }}",
              "type": "boolean"
            },
            {
              "id": "fba996cf-df61-4420-94d8-65a924e68828",
              "name": "messageFromHumanPause",
              "value": "={{ $('When Executed by Another Workflow').item.json.messageFromHumanPause }}",
              "type": "boolean"
            },
            {
              "id": "be5f4fa0-18b4-47b6-b976-649105f3b307",
              "name": "humanPauseDurationInMinuts",
              "value": "={{ $('When Executed by Another Workflow').item.json.humanPauseDurationInMinuts }}",
              "type": "number"
            },
            {
              "id": "0acf821e-2563-458b-9f20-6a9873ed284b",
              "name": "createdAt",
              "value": "={{ $('When Executed by Another Workflow').item.json.createdAt }}",
              "type": "string"
            },
            {
              "id": "35b5bc23-fe92-444a-a1fe-85816f2d5a96",
              "name": "eventType",
              "value": "={{ $('When Executed by Another Workflow').item.json.eventType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        96
      ],
      "id": "c336ecee-66c5-4017-95d8-29e0ce8f7f50",
      "name": "Set data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2502a693-3633-4f08-b368-3aff5a229ecb",
              "leftValue": "={{ $('Set data').item.json.messageContent }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "96ab1f4e-54ac-45bb-9717-4a32e07519f0",
              "leftValue": "={{ $('Set data').item.json.last_message_content }}",
              "rightValue": "={{ $('Set data').item.json.messageContent }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        192
      ],
      "id": "53dde216-9bfb-4a67-a3a1-68df8d0add3e",
      "name": "Bot message?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        704,
        96
      ],
      "id": "512fb86c-2615-4032-a50d-2ec67a447059",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        704,
        288
      ],
      "id": "b7112349-05bd-46db-a174-18f90eab602d",
      "name": "Filter 2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XYAtTOCX1Fi2fFJT",
          "mode": "list",
          "cachedResultName": "human-pause - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "humanPauseDurationInMinuts": "={{ $json.humanPauseDurationInMinuts }}",
            "conversationId": "={{ $json.conversationId }}",
            "accountId": "={{ $json.accountId }}",
            "projectName": "={{ $json.projectName }}",
            "chatwootUrl": "={{ $json.chatwootUrl }}",
            "createdAt": "={{ $json.createdAt }}",
            "messageId": "={{ $json.messageId }}"
          },
          "matchingColumns": [
            "conversation_id",
            "account_id",
            "flowdata_message_id",
            "flowdata",
            "chatwoot_url"
          ],
          "schema": [
            {
              "id": "projectName",
              "displayName": "projectName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatwootUrl",
              "displayName": "chatwootUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accountId",
              "displayName": "accountId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "humanPauseDurationInMinuts",
              "displayName": "humanPauseDurationInMinuts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        288
      ],
      "name": "human-pause",
      "id": "6d75258e-f03d-4ed3-9a46-8260ba6ee660"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2502a693-3633-4f08-b368-3aff5a229ecb",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "549d6ff9-ed8b-4270-8bb1-40cbb77c309c",
              "leftValue": "={{ $json.messageFromHumanPause }}",
              "rightValue": "bot",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        96
      ],
      "id": "8654fd6f-0b83-4784-a1c1-8afd6124ca45",
      "name": "Incoming?"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "last_message",
        "key": "={{ $json.projectName }}_{{ $json.accountId }}_{{ $json.conversationId }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -864,
        96
      ],
      "id": "27a41a2a-6ecc-4cc4-9121-6497acfb967a",
      "name": "Get last message",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.accountId }}_{{ $('Set data').item.json.conversationId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        480,
        96
      ],
      "id": "f4d8b07c-1429-4a27-a9a8-77b47da9c477",
      "name": "Delete last message",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c890b60-be7b-496f-8d22-878ee2f87ad4",
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        96
      ],
      "id": "dd6585b5-b977-4d0a-9e65-2fd802069237",
      "name": "Filter updated-message"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get last message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter human": {
      "main": [
        [
          {
            "node": "Filter updated-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Filter human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot message?": {
      "main": [
        [
          {
            "node": "Delete last message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "human-pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human-pause": {
      "main": [
        [
          {
            "node": "Filter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming?": {
      "main": [
        [
          {
            "node": "Main flow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last message": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete last message": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter updated-message": {
      "main": [
        [
          {
            "node": "Incoming?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}