workflows/human-intervention.json
{
  "name": "human-intervention",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.userId }}",
        "messageData": "={{ JSON.stringify($('Set data').item.json.dataToPush) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2304,
        288
      ],
      "id": "5d3c988d-b23c-4eb3-aa09-5dd31db29923",
      "name": "Push messages",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e0cce2e-5c91-40ab-b822-90660ff75aed",
                    "leftValue": "={{ JSON.parse($json.list_array.first()).messageId }}",
                    "rightValue": "={{ $('Set data').item.json.dataToPush.messageId }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Do nothing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc6b80d6-7348-4b22-b518-d84f899c6e6f",
                    "leftValue": "={{ JSON.parse($json.list_array.last()).createdAt }}",
                    "rightValue": "={{ $now.minus($('Set data').item.json.pauseDurationInMinuts, 'minutes') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1632,
        176
      ],
      "id": "aacc6fb1-3374-4a86-88e1-9eb06cc18628",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set data').item.json.userId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1408,
        192
      ],
      "id": "b5dcf6bb-4b1f-4791-90aa-cf3fdaab5198",
      "name": "Delete client messages",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userId",
              "type": "any"
            },
            {
              "name": "messageId",
              "type": "any"
            },
            {
              "name": "messageFromMe",
              "type": "boolean"
            },
            {
              "name": "createdAt"
            },
            {
              "name": "pauseDurationInMinuts",
              "type": "number"
            }
          ]
        }
      },
      "id": "2e0ad9e3-9c26-4d16-b84c-5bd330b6e492",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2752,
        288
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "list_array",
        "key": "={{ $('Set data').item.json.userId }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1856,
        288
      ],
      "id": "78d6345d-213c-4aa9-a5e7-811f1a2d3c96",
      "name": "Get messages",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1408,
        0
      ],
      "id": "4eb2d085-f8e2-47db-b60d-4f61714a6d19",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1184,
        192
      ],
      "id": "62718a6e-ce96-4a8d-9796-8062ddd5eac3",
      "name": "Filter 2"
    },
    {
      "parameters": {
        "amount": "={{ $('Set data').item.json.pauseDurationInMinuts / 3}}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1408,
        384
      ],
      "id": "07d78613-2c31-46f4-baf4-1c5e479bd367",
      "name": "Wait",
      "webhookId": "54b0a3bf-5a0b-4b68-98cb-ee2831867394"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05bef122-4eb7-42bd-b45b-fcda6451fba9",
              "name": "userId",
              "value": "={{ $('Start').item.json.userId }}_human_intervention",
              "type": "string"
            },
            {
              "id": "9b85c5e5-f7f3-414f-a435-f7851d2bdb6a",
              "name": "pauseDurationInMinuts",
              "value": "={{ $('Start').item.json.pauseDurationInMinuts }}",
              "type": "number"
            },
            {
              "id": "0ec87cbd-0c88-4db0-b4b8-9549e3e82c18",
              "name": "dataToPush.messageId",
              "value": "={{ $('Start').item.json.messageId }}",
              "type": "string"
            },
            {
              "id": "8b045d13-ebcc-4e78-8bcb-4079e744e10e",
              "name": "dataToPush.createdAt",
              "value": "={{ $('Start').item.json.createdAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        288
      ],
      "id": "dfef51e5-f569-4f18-a768-c2d1a80deedb",
      "name": "Set data"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.userId }}",
        "keyType": "list",
        "expire": true,
        "ttl": "={{ $json.pauseDurationInMinuts * 60 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2080,
        288
      ],
      "id": "f13a0665-99d5-48b6-bbe1-391365d4a333",
      "name": "Set TTL",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete client messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push messages": {
      "main": [
        [
          {
            "node": "Set TTL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete client messages": {
      "main": [
        [
          {
            "node": "Filter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get messages": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Push messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 2": {
      "main": [
        []
      ]
    },
    "Set TTL": {
      "main": [
        [
          {
            "node": "Get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}