workflows/human-intervention - v1.json
{
  "name": "human-intervention - v1",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.userId }}",
        "messageData": "={{ JSON.stringify($('Set data').item.json.dataToPush) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1088,
        288
      ],
      "id": "cabf00cd-b339-4154-b22e-5ea5ee882303",
      "name": "Push messages",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e0cce2e-5c91-40ab-b822-90660ff75aed",
                    "leftValue": "={{ JSON.parse($json.list_array.first()).messageId }}",
                    "rightValue": "={{ $('Set data').item.json.dataToPush.messageId }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Do nothing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc6b80d6-7348-4b22-b518-d84f899c6e6f",
                    "leftValue": "={{ JSON.parse($json.list_array.last()).createdAt }}",
                    "rightValue": "={{ $now.minus($('Set data').item.json.pauseDurationInMinuts, 'minutes') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        176
      ],
      "id": "2676ec9b-62f5-4a77-897e-2f035e69f859",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set data').item.json.userId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -416,
        192
      ],
      "id": "71725aa9-6432-488e-af69-585b88783232",
      "name": "Delete client messages",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userId",
              "type": "any"
            },
            {
              "name": "messageId",
              "type": "any"
            },
            {
              "name": "createdAt"
            },
            {
              "name": "pauseDurationInMinuts",
              "type": "number"
            }
          ]
        }
      },
      "id": "dd780d04-7004-47e3-ae22-4fb6fe8f322e",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1536,
        288
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "list_array",
        "key": "={{ $('Set data').item.json.userId }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -864,
        288
      ],
      "id": "411e71f2-3069-4327-9397-95b18db785ef",
      "name": "Get messages",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -416,
        0
      ],
      "id": "0b127962-1030-4fbb-b79f-84f112c9282d",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        192
      ],
      "id": "885a3f70-7f7a-419b-a068-644e9f2d2167",
      "name": "Filter 2"
    },
    {
      "parameters": {
        "amount": "={{ $('Set data').item.json.pauseDurationInMinuts / 3}}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -416,
        384
      ],
      "id": "46b0a88f-6735-4a60-83c5-f75f4a881a75",
      "name": "Wait",
      "webhookId": "ec472421-3383-4891-9b9a-ed5413a4aa4d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05bef122-4eb7-42bd-b45b-fcda6451fba9",
              "name": "userId",
              "value": "={{ $json.userId }}_human_intervention",
              "type": "string"
            },
            {
              "id": "9b85c5e5-f7f3-414f-a435-f7851d2bdb6a",
              "name": "pauseDurationInMinuts",
              "value": "={{ $json.pauseDurationInMinuts }}",
              "type": "number"
            },
            {
              "id": "0ec87cbd-0c88-4db0-b4b8-9549e3e82c18",
              "name": "dataToPush.messageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "8b045d13-ebcc-4e78-8bcb-4079e744e10e",
              "name": "dataToPush.createdAt",
              "value": "={{ $json.createdAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        288
      ],
      "id": "1e68b99d-6445-4432-af22-d8907c4d3636",
      "name": "Set data"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete client messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push messages": {
      "main": [
        [
          {
            "node": "Get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete client messages": {
      "main": [
        [
          {
            "node": "Filter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get messages": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Push messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}