workflows/human-pause - v1.2.json
{
  "name": "human-pause - v1.2",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Start').item.json.project_name }}_{{ $('Start').item.json.account_id}}_{{ $('Start').item.json.conversation_id }}",
        "messageData": "={{ JSON.stringify($('Start').item.json.flowdata) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -656,
        304
      ],
      "id": "67161cd9-6f47-4cf3-9327-2942859d4764",
      "name": "Push messages",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "list_array",
        "key": "={{ $('Start').item.json.project_name }}_{{ $('Start').item.json.account_id}}_{{ $('Start').item.json.conversation_id }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1328,
        304
      ],
      "id": "4eccf886-e2a6-476f-923f-d4c7cec1c863",
      "name": "Get client messages",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd956404-ede3-43a3-b61f-b696d7b32f41",
                    "leftValue": "={{ $json.list_array.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "First cycle"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1104,
        304
      ],
      "id": "4ae3002f-46ad-4307-b5c3-077f83e22963",
      "name": "Switch2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e0cce2e-5c91-40ab-b822-90660ff75aed",
                    "leftValue": "={{ JSON.parse($json.list_array.first()).message_id }}",
                    "rightValue": "={{ $('Start').item.json.flowdata.message_id }}",
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Do nothing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc6b80d6-7348-4b22-b518-d84f899c6e6f",
                    "leftValue": "={{ JSON.parse($json.list_array.last()).created_at }}",
                    "rightValue": "={{ $now.minus($('Start').item.json.human_pause_duration, 'minutes') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        208
      ],
      "id": "2ca15bbf-a356-4bde-8780-b1e450371df0",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Start').item.json.project_name }}_{{ $('Start').item.json.account_id}}_{{ $('Start').item.json.conversation_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "96b18dc5-663a-4f1f-886a-011ea6947f53",
      "name": "Delete client messages",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "project_name"
            },
            {
              "name": "chatwoot_url"
            },
            {
              "name": "account_id",
              "type": "number"
            },
            {
              "name": "conversation_id",
              "type": "number"
            },
            {
              "name": "flowdata",
              "type": "any"
            },
            {
              "name": "human_pause_duration",
              "type": "number"
            }
          ]
        }
      },
      "id": "9635d5c1-407f-4629-9071-d488a11ed890",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1536,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "list_array",
        "key": "={{ $('Start').item.json.project_name }}_{{ $('Start').item.json.account_id}}_{{ $('Start').item.json.conversation_id }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -448,
        304
      ],
      "id": "238d6e03-7248-4c77-9766-d145c4a2094f",
      "name": "Get messages",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "f2b17e84-1ed1-4872-90fa-58fbb12ab4ed",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        448,
        208
      ],
      "id": "2aad0e99-4c6f-443c-af7c-f86cfd19efea",
      "name": "Filter 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').item.json.chatwoot_url }}/api/v1/accounts/{{ $('Start').item.json.account_id }}/conversations/{{ $('Start').item.json.conversation_id }}/labels/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\"\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ],
      "id": "edba7c02-3f4a-4537-8a75-1fa0bbf72088",
      "name": "Delete labels",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nWyAJQsTprwGKxtE",
          "name": "Chatwoot - Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').item.json.chatwoot_url }}/api/v1/accounts/{{ $('Start').item.json.account_id }}/conversations/{{ $('Start').item.json.conversation_id }}/labels/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\"human-pause\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        240
      ],
      "id": "24c0d8fa-745f-4ce7-8b2f-21056e20c933",
      "name": "Add \"human-pause\" label",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nWyAJQsTprwGKxtE",
          "name": "Chatwoot - Header Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Start').item.json.human_pause_duration / 3}}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "85007b1e-202f-47e8-9575-b809c04bb022",
      "name": "Wait",
      "webhookId": "cc05287a-20ac-4ff4-be58-c10497df0db7"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push messages": {
      "main": [
        [
          {
            "node": "Get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get client messages": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Add \"human-pause\" label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete client messages": {
      "main": [
        [
          {
            "node": "Filter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get client messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get messages": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete labels": {
      "main": [
        [
          {
            "node": "Delete client messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add \"human-pause\" label": {
      "main": [
        [
          {
            "node": "Push messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}