workflows/infra-workflow - v2.json
{
  "name": "infra-workflow - v2",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8dbf19e8-e871-4c1d-9dc2-f1d4f4103841",
              "leftValue": "={{ $json.flowdata_admin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        704,
        112
      ],
      "id": "b268837a-5de2-48c3-9930-779afe6b4090",
      "name": "Filter admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f9ad325-43d1-40f3-867b-a1f883cbf221",
              "leftValue": "={{ $json.flowdata.admin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1152,
        112
      ],
      "id": "d9dff88d-676e-440b-9685-d87d88a28108",
      "name": "Filter all except admin"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YiwmG5vEXZnPL5AE",
          "mode": "list",
          "cachedResultName": "firewall - v2.5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $json.messageId }}",
            "conversationId": "={{ $json.conversationId }}",
            "accountId": "={{ $json.accountId }}",
            "projectName": "={{ $json.projectName }}",
            "chatwootUrl": "={{ $json.chatwootUrl }}",
            "messageContent": "={{ $json.messageContent }}",
            "messageType": "={{ $json.messageType }}",
            "messageFromHuman": "={{ $json.messageFromHuman }}",
            "createdAt": "={{ $json.createdAt }}",
            "eventType": "={{ $json.eventType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projectName",
              "displayName": "projectName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatwootUrl",
              "displayName": "chatwootUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accountId",
              "displayName": "accountId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "messageContent",
              "displayName": "messageContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageType",
              "displayName": "messageType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageFromHuman",
              "displayName": "messageFromHuman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "eventType",
              "displayName": "eventType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        112
      ],
      "id": "77c06c7b-94a7-4a79-a870-8fc239ee00b0",
      "name": "firewall"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5xhl7fXA6zZ2giCY",
          "mode": "list",
          "cachedResultName": "message-buffer - v1.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $('Set data').item.json.messageId }}",
            "session_id": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.accountId }}_{{ $('Set data').item.json.conversationId }}_buffer",
            "session_input": "={{ $json.text }}",
            "session_timestamp": "={{ $('Set data').item.json.createdAt }}",
            "time_to_wait_in_seconds": "={{ $('Set data').item.json.bufferTimeToWaitInSeconds }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_input",
              "displayName": "session_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_timestamp",
              "displayName": "session_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "time_to_wait_in_seconds",
              "displayName": "time_to_wait_in_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2272,
        192
      ],
      "id": "aae3099c-5403-47fe-94a4-5b30e8e967ab",
      "name": "message-buffer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VCUyNC1JY5SRuMOc",
          "mode": "list",
          "cachedResultName": "transcribe-media - v1.2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $('Set data').item.json.messageContent }}",
            "media_url": "={{ $('Set data').item.json.fileUrl }}",
            "media_type": "={{ $('Set data').item.json.fileType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "media_type",
              "displayName": "media_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2048,
        192
      ],
      "id": "f6db3704-a5f9-410e-98d1-1f5abe5347f0",
      "name": "transcribe-media"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F1Eb1hg8VcjpLsjE",
          "mode": "list",
          "cachedResultName": "intention-analizer - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $('message-buffer').item.json.output }}",
            "conversation_id": "={{ $('Start').item.json.flowdata_conversation_id }}",
            "client_name": "={{ $('Start').item.json.flowdata_project_name }}",
            "system_messsage": "=## ROL:\n\nActúa como un analista de conversaciones para un asistente virtual. Se te proporcionará el historial del chat completo con el usuario y su último mensaje. Tu única tarea es analizar ese contenido y determinar qué tipo de acción se necesita para responder al usuario, y explicar por qué llegaste a esa conclusión.\n\nLas posibles opciones de respuesta son las siguientes:\n\n- `\"informacion-de-la-empresa\"` → Cuando el usuario solicita datos como ubicación de la empresa, los horarios de atención, los medios o políticas de pago, el alias para transferencias, los métodos o políticas de envío, políticas de cambios y devoluciones, redes sociales o el sitio web, o cualquier otra información propia de la empresa.\n- `\"asesoramiento\"` → Cuando el usuario necesita ayuda para tomar una decisión, si necesita precios de tinturas en general, carta/cartilla de colores o saber los tonos dispomibles, pregunta por tinturas sin amoníaco, cómo cubrir canas, hacer reflejos, tonalizar, entender qué es mejor para su caso, etc.\n- `\"buscador-de-productos\"` → Cuando el usuario está buscando un producto específico, disponibilidad, precio, o detalles de productos.\n- `\"cierre-de-venta\"` → Cuando en la última interacción el bot le pasó un pedido a confirmar y ahora el último mensaje del usuario confirma.\n- `\"general\"` → Ninguna de las anteriores.\n\n---\n\nDevuelve la respuesta en formato JSON como una lista de objetos, cada uno con las claves \"require\" y \"why\".\n\nDevuelve más de un objeto si la pregunta del usuario lo requiere. Es válido devolver uno, dos o más de dos objetos dependiendo del contenido del mensaje.\n\n---\n\n### Formato de salida:\n\n```json\n[\n  {\n    \"require\": \"informacion-de-la-empresa\",\n    \"why\": \"porque el usuario preguntó el horario de atención\"\n  },\n  {\n    \"require\": \"buscador-de-productos\",\n    \"why\": \"porque el usuario preguntó por disponibilidad del producto X\"\n  }\n]\n```\n",
            "chat_history": "={{ $('get-memory').item.json.chat_history }}"
          },
          "matchingColumns": [
            "output_firstItem",
            "flowdata_conversation_id_toString"
          ],
          "schema": [
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "chat_history",
              "displayName": "chat_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_messsage",
              "displayName": "system_messsage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4512,
        112
      ],
      "name": "intention-analizer",
      "id": "78456354-8943-49c9-a9fb-e40f546b0f89"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NGMARSo1UAmMG1FM",
          "mode": "list",
          "cachedResultName": "get-memory - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Set data').item.json.conversationId }}",
            "client_name": "={{ $('Set data').item.json.projectName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2720,
        112
      ],
      "id": "cfaabc42-c549-4b43-9b39-95b2ad0ed55f",
      "name": "get-memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WNyHyrBoIJ73Jxyl",
          "mode": "list",
          "cachedResultName": "language-detector - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $('message-buffer').item.json.output }}",
            "default_language": "Español"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "default_language",
              "displayName": "default_language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3616,
        112
      ],
      "id": "4923091e-7af4-4be9-800f-325ad90094ef",
      "name": "language-detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OdGlhJN4N2yn72zW",
          "mode": "list",
          "cachedResultName": "build-system-message - v3.2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Set data').item.json.conversationId }}",
            "business_name": "={{ $('Set data').item.json.projectName }}",
            "language": "Español",
            "repo_name": "={{ $('Set data').item.json.repoName }}"
          },
          "matchingColumns": [
            "language"
          ],
          "schema": [
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "repo_name",
              "displayName": "repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4736,
        192
      ],
      "id": "6408224f-1b95-4ca1-a55e-8de4f58f3bab",
      "name": "build-system-message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "68zYbBj2adQEPzff",
          "mode": "list",
          "cachedResultName": "bot-detector - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userMessage": "={{ $('Set data').item.json.messageContent }}",
            "customInstructionsToDefineItsNotBot": "si el mensaje dice campaña",
            "chatHistory": "={{ $json.chat_history }}"
          },
          "matchingColumns": [
            "output_firstItem",
            "flowdata_conversation_id_toString"
          ],
          "schema": [
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatHistory",
              "displayName": "chatHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "customInstructionsToDefineItsNotBot",
              "displayName": "customInstructionsToDefineItsNotBot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3168,
        112
      ],
      "name": "bot-detector",
      "id": "022602b1-b9ce-48b8-89dc-634d021a20ae"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8MHj8V4mBnqgU6K0",
          "mode": "list",
          "cachedResultName": "lead-reactivation - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_name": "={{ $('Start').item.json.flowdata_project_name }}",
            "user_message": "={{ $('Start').item.json.flowdata_content }}",
            "session_id": "={{ $('Start').item.json.flowdata_conversation_id }}",
            "account_id": "={{ $('Start').item.json.flowdata_account_id }}",
            "url": "={{ $('Start').item.json.flowdata_url }}",
            "time_to_reactivate_in_hours": 24,
            "campaing_text_to_recognize": "campaña",
            "text_to_reactive": "Texto para reactivar"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "campaing_text_to_recognize",
              "displayName": "campaing_text_to_recognize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "time_to_reactivate_in_hours",
              "displayName": "time_to_reactivate_in_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "text_to_reactive",
              "displayName": "text_to_reactive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4064,
        112
      ],
      "id": "201a107a-6524-4211-9c8b-96c946ce5098",
      "name": "lead-reactivation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de7c619b-984e-499a-a53c-583b254bda99",
              "name": "systemPromptMainAgent",
              "value": "={{ $json[\"main-agent\"] }}",
              "type": "string"
            },
            {
              "id": "2d7347dd-365e-4f4f-91b4-256c8aa33779",
              "name": "systemPromptCompanyAdvisorAgent",
              "value": "={{ $json[\"company-advisor-agent\"] }}",
              "type": "string"
            },
            {
              "id": "0283b088-beb7-4a10-9ec7-f4b935bb494b",
              "name": "systemPromptRefinerAgent",
              "value": "={{ $json[\"refiner-agent\"] }}",
              "type": "string"
            },
            {
              "id": "4c9efe44-696d-4fc7-8152-2bc707610516",
              "name": "userMessage",
              "value": "={{ $('message-buffer').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4960,
        192
      ],
      "id": "c257ba9c-5674-4a07-9217-3c0f55834e5c",
      "name": "Return"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e855a8b3-270b-4564-8aa3-38913081538e",
              "leftValue": "={{ $json.node.filterAdmin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        192
      ],
      "id": "99836d8d-0646-471b-b7e2-ad0aaa92ae7e",
      "name": "If filter admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11e2301f-ff9e-443a-9180-328b4cca93ee",
              "leftValue": "={{ $('Set data').item.json.node.filterAllExceptAdmin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        192
      ],
      "id": "4c76586f-bfb5-40d7-a20b-3d99362bb77c",
      "name": "If filter all except admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce9a61cc-1d53-4bb9-9f08-46c3b66b99f7",
              "leftValue": "={{ $('Set data').item.json.node.firewall }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        192
      ],
      "id": "c0d51b98-d6ae-4082-8607-1fcc79cdfd20",
      "name": "If firewall"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67b23e1d-fa8b-44de-be43-36b36c4fc9b8",
              "name": "projectName",
              "value": "={{ $json.projectName }}",
              "type": "string"
            },
            {
              "id": "8dc3ac5b-10af-4fbb-bc2c-347487ae7745",
              "name": "chatwootUrl",
              "value": "={{ $json.chatwootUrl }}",
              "type": "string"
            },
            {
              "id": "5ff537c8-71df-4538-b1cd-9e0171611dac",
              "name": "repoName",
              "value": "={{ $json.repoName }}",
              "type": "string"
            },
            {
              "id": "ee39afc7-b9a6-44e5-9f16-9c9404209fee",
              "name": "humanPauseDurationInMinuts",
              "value": "={{ $json.humanPauseDurationInMinuts }}",
              "type": "number"
            },
            {
              "id": "c6a7f9a9-d4ca-494a-827c-29aadb0d13d0",
              "name": "bufferTimeToWaitInSeconds",
              "value": "={{ $json.bufferTimeToWaitInSeconds }}",
              "type": "number"
            },
            {
              "id": "024cc4ed-b37e-4925-946a-edccf669a714",
              "name": "node.filterAdmin",
              "value": "={{ $json[\"node.filterAdmin\"] }}",
              "type": "boolean"
            },
            {
              "id": "b915c572-9f53-4f01-a25c-7d7b2c494e43",
              "name": "node.filterAllExceptAdmin",
              "value": "={{ $json[\"node.filterAllExceptAdmin\"] }}",
              "type": "boolean"
            },
            {
              "id": "da8e86b2-80fa-4b9c-91f2-66b37b362852",
              "name": "node.firewall",
              "value": "={{ $json[\"node.firewall\"] }}",
              "type": "boolean"
            },
            {
              "id": "0cb22fdc-4103-4b46-b76b-1d50226c8418",
              "name": "node.getMemory",
              "value": "={{ $json[\"node.getMemory\"] }}",
              "type": "boolean"
            },
            {
              "id": "0ea8aa8e-9209-4d73-9f42-34c9b95f6f20",
              "name": "node.botDetector",
              "value": "={{ $json[\"node.botDetector\"] }}",
              "type": "boolean"
            },
            {
              "id": "a9630001-ffc8-4bf6-a64d-a7164be17e39",
              "name": "node.languageDetector",
              "value": "={{ $json[\"node.languageDetector\"] }}",
              "type": "boolean"
            },
            {
              "id": "aba53612-d7ee-4f51-b43e-6c7f55aacd3d",
              "name": "messageFromAdmin",
              "value": "={{ $json.messageFromAdmin }}",
              "type": "boolean"
            },
            {
              "id": "2ba0da1a-c98b-4d69-9087-f8003897f5f9",
              "name": "messageFromHuman",
              "value": "={{ $json.messageFromHuman }}",
              "type": "boolean"
            },
            {
              "id": "509d34f3-39a7-4b22-b3ec-95a10dfbc361",
              "name": "accountId",
              "value": "={{ $json.accountId }}",
              "type": "number"
            },
            {
              "id": "95402e48-df0a-4805-b8da-4deeb60e6050",
              "name": "conversationId",
              "value": "={{ $json.conversationId }}",
              "type": "number"
            },
            {
              "id": "75cdade2-02d5-44bf-a2fc-84f6930c5068",
              "name": "createdAt",
              "value": "={{ $json.createdAt }}",
              "type": "string"
            },
            {
              "id": "77533493-1a1b-43e6-992e-39ef62635619",
              "name": "messageId",
              "value": "={{ $json.messageId }}",
              "type": "number"
            },
            {
              "id": "d31ed920-83f7-4897-8d6d-707c8bac52a3",
              "name": "messageContent",
              "value": "={{ $json.messageContent }}",
              "type": "string"
            },
            {
              "id": "cd7f9344-8c41-4541-8cac-e7519d203199",
              "name": "messageFromMe",
              "value": "={{ $json.messageFromMe }}",
              "type": "boolean"
            },
            {
              "id": "fea54360-7170-4bd7-9f5d-6ef77edbd8a8",
              "name": "eventType",
              "value": "={{ $json.eventType }}",
              "type": "string"
            },
            {
              "id": "477b0863-bf7e-4023-b0fe-db7c8048bc21",
              "name": "fileType",
              "value": "={{ $json.fileType }}",
              "type": "string"
            },
            {
              "id": "090016b1-cfb3-4899-a140-1561c5965d5b",
              "name": "fileUrl",
              "value": "={{ $json.fileUrl }}",
              "type": "string"
            },
            {
              "id": "dfeedb1c-a853-4396-9b74-8eeb142117fa",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        192
      ],
      "id": "e92f60e7-6461-4d3f-9660-f952001a9685",
      "name": "Set data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "644d29d0-0ad5-4439-8907-bb29c1328d80",
              "leftValue": "={{ $('Set data').item.json.node.getMemory }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        192
      ],
      "id": "08915b52-c378-43f3-8f9d-ab0c4130cef5",
      "name": "If get memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "742c9956-cbc2-47b6-b974-09f356bc60f3",
              "leftValue": "={{ $('Set data').item.json.node.botDetector }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2944,
        192
      ],
      "id": "100b245b-5c6d-4006-a82b-3ad8986af6a4",
      "name": "If bot detector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "742c9956-cbc2-47b6-b974-09f356bc60f3",
              "leftValue": "={{ $('Set data').item.json.node.languageDetector }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3392,
        192
      ],
      "id": "7955bd01-f1e6-448b-b94b-0aa76197c892",
      "name": "If language detector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98ee6150-a9fd-4e00-999e-0d60ed32c85f",
              "leftValue": "={{ $('Set data').item.json.node.leadReactivation }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3840,
        192
      ],
      "id": "2385345a-4c6b-40f8-995a-1f4f94054766",
      "name": "If lead reactivation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98ee6150-a9fd-4e00-999e-0d60ed32c85f",
              "leftValue": "={{ $('Set data').item.json.node.intentionAnalizer }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4288,
        192
      ],
      "id": "a9659d19-f1bb-48bd-b0db-f2cc11a406d4",
      "name": "If intention analizer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Lg5Nq0YShSbn3Swj",
          "mode": "list",
          "cachedResultName": "human-intervention - v1.2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $('Set data').item.json.messageId }}",
            "pauseDurationInMinuts": "={{ $('Set data').item.json.humanPauseDurationInMinuts }}",
            "userId": "={{ $json.projectName }}_{{ $('Set data').item.json.phoneNumber }}",
            "createdAt": "={{ $('Set data').item.json.createdAt }}",
            "messageFromMe": "={{ $('Set data').item.json.messageFromMe }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "messageFromMe",
              "displayName": "messageFromMe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pauseDurationInMinuts",
              "displayName": "pauseDurationInMinuts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1824,
        192
      ],
      "name": "human-intervention",
      "id": "d606b15d-3ac5-44e7-9fd3-23dcaa4703e4"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectName"
            },
            {
              "name": "chatwootUrl"
            },
            {
              "name": "repoName"
            },
            {
              "name": "humanPauseDurationInMinuts",
              "type": "number"
            },
            {
              "name": "bufferTimeToWaitInSeconds",
              "type": "number"
            },
            {
              "name": "node.filterAdmin",
              "type": "boolean"
            },
            {
              "name": "node.filterAllExceptAdmin",
              "type": "boolean"
            },
            {
              "name": "node.firewall",
              "type": "boolean"
            },
            {
              "name": "node.getMemory",
              "type": "boolean"
            },
            {
              "name": "node.botDetector",
              "type": "boolean"
            },
            {
              "name": "node.languageDetector",
              "type": "boolean"
            },
            {
              "name": "messageFromAdmin",
              "type": "boolean"
            },
            {
              "name": "messageFromHuman",
              "type": "boolean"
            },
            {
              "name": "accountId",
              "type": "number"
            },
            {
              "name": "conversationId",
              "type": "number"
            },
            {
              "name": "createdAt"
            },
            {
              "name": "messageId",
              "type": "number"
            },
            {
              "name": "messageContent"
            },
            {
              "name": "messageFromMe",
              "type": "boolean"
            },
            {
              "name": "eventType"
            },
            {
              "name": "fileType"
            },
            {
              "name": "fileUrl"
            },
            {
              "name": "phoneNumber"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        192
      ],
      "id": "23ba2ff4-1c63-4502-a89f-5083b1ada1ac",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Filter admin": {
      "main": [
        [
          {
            "node": "If filter all except admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter all except admin": {
      "main": [
        [
          {
            "node": "If firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firewall": {
      "main": [
        [
          {
            "node": "human-intervention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message-buffer": {
      "main": [
        [
          {
            "node": "If get memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe-media": {
      "main": [
        [
          {
            "node": "message-buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-memory": {
      "main": [
        [
          {
            "node": "If bot detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "language-detector": {
      "main": [
        [
          {
            "node": "If lead reactivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot-detector": {
      "main": [
        [
          {
            "node": "If language detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intention-analizer": {
      "main": [
        [
          {
            "node": "build-system-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead-reactivation": {
      "main": [
        [
          {
            "node": "If intention analizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-system-message": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If filter admin": {
      "main": [
        [
          {
            "node": "Filter admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If filter all except admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If filter all except admin": {
      "main": [
        [
          {
            "node": "Filter all except admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If firewall": {
      "main": [
        [
          {
            "node": "firewall",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "human-intervention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "If filter admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If get memory": {
      "main": [
        [
          {
            "node": "get-memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If bot detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If bot detector": {
      "main": [
        [
          {
            "node": "bot-detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If language detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If language detector": {
      "main": [
        [
          {
            "node": "language-detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If lead reactivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If lead reactivation": {
      "main": [
        [
          {
            "node": "lead-reactivation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If intention analizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If intention analizer": {
      "main": [
        [
          {
            "node": "intention-analizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "build-system-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human-intervention": {
      "main": [
        [
          {
            "node": "transcribe-media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}