workflows/infra-workflow - v1.json
{
  "name": "infra-workflow - v1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8dbf19e8-e871-4c1d-9dc2-f1d4f4103841",
              "leftValue": "={{ $json.flowdata_admin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        928,
        -64
      ],
      "id": "6f15248a-d669-43b4-8d00-2f1351823f10",
      "name": "Filter admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f9ad325-43d1-40f3-867b-a1f883cbf221",
              "leftValue": "={{ $json.flowdata.admin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1376,
        -64
      ],
      "id": "26fb6bee-d7b1-4fbb-8f09-81b92cba8a0d",
      "name": "Filter all except admin"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7bKIwqfwCTFasPuy",
          "mode": "list",
          "cachedResultName": "firewall - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "humanPauseDurationInMinuts": "={{ $json.humanPauseDurationInMinuts }}",
            "messageId": "={{ $json.messageId }}",
            "conversationId": "={{ $json.conversationId }}",
            "accountId": "={{ $json.accountId }}",
            "projectName": "={{ $json.projectName }}",
            "chatwootUrl": "={{ $json.chatwootUrl }}",
            "messageContent": "={{ $json.messageContent }}",
            "messageType": "={{ $json.messageType }}",
            "messageFromHuman": "={{ $json.messageFromHuman }}",
            "messageFromHumanPause": "={{ $json.messageFromHumanPause }}",
            "createdAt": "={{ $json.createdAt }}",
            "eventType": "={{ $json.eventType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projectName",
              "displayName": "projectName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatwootUrl",
              "displayName": "chatwootUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accountId",
              "displayName": "accountId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "messageContent",
              "displayName": "messageContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageType",
              "displayName": "messageType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageFromHuman",
              "displayName": "messageFromHuman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "messageFromHumanPause",
              "displayName": "messageFromHumanPause",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "humanPauseDurationInMinuts",
              "displayName": "humanPauseDurationInMinuts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "eventType",
              "displayName": "eventType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1824,
        -64
      ],
      "id": "da1bb2a5-9b9e-476e-8069-18d916e31d79",
      "name": "firewall"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5xhl7fXA6zZ2giCY",
          "mode": "list",
          "cachedResultName": "message-buffer - v1.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $('Set data').item.json.messageId }}",
            "session_id": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.accountId }}_{{ $('Set data').item.json.sessionId }}_buffer",
            "session_input": "={{ $json.text }}",
            "session_timestamp": "={{ $('Set data').item.json.createdAt }}",
            "time_to_wait_in_seconds": 5
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_input",
              "displayName": "session_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_timestamp",
              "displayName": "session_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "time_to_wait_in_seconds",
              "displayName": "time_to_wait_in_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2272,
        16
      ],
      "id": "b9ca83ed-e998-449e-adf7-a4dc51bf7cb5",
      "name": "message-buffer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VCUyNC1JY5SRuMOc",
          "mode": "list",
          "cachedResultName": "transcribe-media - v1.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.messageContent }}",
            "media_url": "={{ $json.fileUrl }}",
            "media_type": "={{ $json.fileType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "media_type",
              "displayName": "media_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2048,
        16
      ],
      "id": "981eeefc-7b2d-49a8-9c6d-b21d772c070e",
      "name": "transcribe-media"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F1Eb1hg8VcjpLsjE",
          "mode": "list",
          "cachedResultName": "intention-analizer - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $('message-buffer').item.json.output }}",
            "conversation_id": "={{ $('Start').item.json.flowdata_conversation_id }}",
            "client_name": "={{ $('Start').item.json.flowdata_project_name }}",
            "system_messsage": "=## ROL:\n\nActúa como un analista de conversaciones para un asistente virtual. Se te proporcionará el historial del chat completo con el usuario y su último mensaje. Tu única tarea es analizar ese contenido y determinar qué tipo de acción se necesita para responder al usuario, y explicar por qué llegaste a esa conclusión.\n\nLas posibles opciones de respuesta son las siguientes:\n\n- `\"informacion-de-la-empresa\"` → Cuando el usuario solicita datos como ubicación de la empresa, los horarios de atención, los medios o políticas de pago, el alias para transferencias, los métodos o políticas de envío, políticas de cambios y devoluciones, redes sociales o el sitio web, o cualquier otra información propia de la empresa.\n- `\"asesoramiento\"` → Cuando el usuario necesita ayuda para tomar una decisión, si necesita precios de tinturas en general, carta/cartilla de colores o saber los tonos dispomibles, pregunta por tinturas sin amoníaco, cómo cubrir canas, hacer reflejos, tonalizar, entender qué es mejor para su caso, etc.\n- `\"buscador-de-productos\"` → Cuando el usuario está buscando un producto específico, disponibilidad, precio, o detalles de productos.\n- `\"cierre-de-venta\"` → Cuando en la última interacción el bot le pasó un pedido a confirmar y ahora el último mensaje del usuario confirma.\n- `\"general\"` → Ninguna de las anteriores.\n\n---\n\nDevuelve la respuesta en formato JSON como una lista de objetos, cada uno con las claves \"require\" y \"why\".\n\nDevuelve más de un objeto si la pregunta del usuario lo requiere. Es válido devolver uno, dos o más de dos objetos dependiendo del contenido del mensaje.\n\n---\n\n### Formato de salida:\n\n```json\n[\n  {\n    \"require\": \"informacion-de-la-empresa\",\n    \"why\": \"porque el usuario preguntó el horario de atención\"\n  },\n  {\n    \"require\": \"buscador-de-productos\",\n    \"why\": \"porque el usuario preguntó por disponibilidad del producto X\"\n  }\n]\n```\n",
            "chat_history": "={{ $('get-memory').item.json.chat_history }}"
          },
          "matchingColumns": [
            "output_firstItem",
            "flowdata_conversation_id_toString"
          ],
          "schema": [
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "chat_history",
              "displayName": "chat_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_messsage",
              "displayName": "system_messsage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4512,
        -64
      ],
      "name": "intention-analizer",
      "id": "e71e1adc-75d6-4f8f-aece-648546cf000e"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NGMARSo1UAmMG1FM",
          "mode": "list",
          "cachedResultName": "get-memory - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Set data').item.json.conversationId }}",
            "client_name": "={{ $('Set data').item.json.projectName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2720,
        -64
      ],
      "id": "741d4387-7377-4d54-8a01-e1383ec031ea",
      "name": "get-memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WNyHyrBoIJ73Jxyl",
          "mode": "list",
          "cachedResultName": "language-detector - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $('message-buffer').item.json.output }}",
            "default_language": "Español"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "default_language",
              "displayName": "default_language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3616,
        -64
      ],
      "id": "ffab8854-7f3e-4a50-af33-c74ecbcce356",
      "name": "language-detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OdGlhJN4N2yn72zW",
          "mode": "list",
          "cachedResultName": "build-system-message - v3.2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Set data').item.json.conversationId }}",
            "business_name": "={{ $('Set data').item.json.projectName }}",
            "language": "Español",
            "repo_name": "={{ $('Set data').item.json.repoName }}"
          },
          "matchingColumns": [
            "language"
          ],
          "schema": [
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "repo_name",
              "displayName": "repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4736,
        16
      ],
      "id": "0ff91e64-795a-4213-b14a-c4780297cc36",
      "name": "build-system-message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "68zYbBj2adQEPzff",
          "mode": "list",
          "cachedResultName": "bot-detector - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userMessage": "={{ $('Set data').item.json.messageContent }}",
            "customInstructionsToDefineItsNotBot": "si el mensaje dice campaña",
            "chatHistory": "={{ $json.chat_history }}"
          },
          "matchingColumns": [
            "output_firstItem",
            "flowdata_conversation_id_toString"
          ],
          "schema": [
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatHistory",
              "displayName": "chatHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "customInstructionsToDefineItsNotBot",
              "displayName": "customInstructionsToDefineItsNotBot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3168,
        -64
      ],
      "name": "bot-detector",
      "id": "74fc8854-06d9-4cbb-9a09-036360d23ee2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8MHj8V4mBnqgU6K0",
          "mode": "list",
          "cachedResultName": "lead-reactivation - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_name": "={{ $('Start').item.json.flowdata_project_name }}",
            "user_message": "={{ $('Start').item.json.flowdata_content }}",
            "session_id": "={{ $('Start').item.json.flowdata_conversation_id }}",
            "account_id": "={{ $('Start').item.json.flowdata_account_id }}",
            "url": "={{ $('Start').item.json.flowdata_url }}",
            "time_to_reactivate_in_hours": 24,
            "campaing_text_to_recognize": "campaña",
            "text_to_reactive": "Texto para reactivar"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "campaing_text_to_recognize",
              "displayName": "campaing_text_to_recognize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "time_to_reactivate_in_hours",
              "displayName": "time_to_reactivate_in_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "text_to_reactive",
              "displayName": "text_to_reactive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4064,
        -64
      ],
      "id": "0f9ca9aa-019c-4c6b-80f3-f650234edf83",
      "name": "lead-reactivation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de7c619b-984e-499a-a53c-583b254bda99",
              "name": "systemPromptMainAgent",
              "value": "={{ $json[\"main-agent\"] }}",
              "type": "string"
            },
            {
              "id": "2d7347dd-365e-4f4f-91b4-256c8aa33779",
              "name": "systemPromptCompanyAdvisorAgent",
              "value": "={{ $json[\"company-advisor-agent\"] }}",
              "type": "string"
            },
            {
              "id": "0283b088-beb7-4a10-9ec7-f4b935bb494b",
              "name": "systemPromptRefinerAgent",
              "value": "={{ $json[\"refiner-agent\"] }}",
              "type": "string"
            },
            {
              "id": "4c9efe44-696d-4fc7-8152-2bc707610516",
              "name": "userMessage",
              "value": "={{ $('message-buffer').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4960,
        16
      ],
      "id": "5c011ab1-ad77-47b8-b7e5-ef1baae57362",
      "name": "Return"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e855a8b3-270b-4564-8aa3-38913081538e",
              "leftValue": "={{ $json.node.filterAdmin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        16
      ],
      "id": "d4dcec7c-63dd-4951-95b3-4faa7d856d7c",
      "name": "If filter admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11e2301f-ff9e-443a-9180-328b4cca93ee",
              "leftValue": "={{ $('Set data').item.json.node.filterAllExceptAdmin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        16
      ],
      "id": "5783659c-441a-4424-aeb0-f4fd7b184692",
      "name": "If filter all except admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce9a61cc-1d53-4bb9-9f08-46c3b66b99f7",
              "leftValue": "={{ $('Set data').item.json.node.firewall }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        16
      ],
      "id": "f9ae75f6-0137-485e-a88a-4b0c3930eeb1",
      "name": "If firewall"
    },
    {
      "parameters": {
        "path": "64df172a-6459-461c-88e6-4225738dc01b",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        16
      ],
      "id": "932160c2-17f9-4040-8cf1-c20f3bd2ee85",
      "name": "Webhook",
      "webhookId": "64df172a-6459-461c-88e6-4225738dc01b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67b23e1d-fa8b-44de-be43-36b36c4fc9b8",
              "name": "projectName",
              "value": "={{ $json.body.set.projectName }}",
              "type": "string"
            },
            {
              "id": "8dc3ac5b-10af-4fbb-bc2c-347487ae7745",
              "name": "chatwootUrl",
              "value": "={{ $json.body.set.chatwootUrl }}",
              "type": "string"
            },
            {
              "id": "5ff537c8-71df-4538-b1cd-9e0171611dac",
              "name": "repoName",
              "value": "={{ $json.body.set.repoName }}",
              "type": "string"
            },
            {
              "id": "ee39afc7-b9a6-44e5-9f16-9c9404209fee",
              "name": "humanPauseDurationInMinuts",
              "value": "={{ $json.body.set.humanPauseDurationInMinuts }}",
              "type": "number"
            },
            {
              "id": "c6a7f9a9-d4ca-494a-827c-29aadb0d13d0",
              "name": "bufferTimeToWaitInSeconds",
              "value": "={{ $json.body.set.bufferTimeToWaitInSeconds }}",
              "type": "number"
            },
            {
              "id": "024cc4ed-b37e-4925-946a-edccf669a714",
              "name": "node.filterAdmin",
              "value": "={{ $json.body.node.filterAdmin }}",
              "type": "boolean"
            },
            {
              "id": "b915c572-9f53-4f01-a25c-7d7b2c494e43",
              "name": "node.filterAllExceptAdmin",
              "value": "={{ $json.body.node.filterAllExceptAdmin }}",
              "type": "boolean"
            },
            {
              "id": "da8e86b2-80fa-4b9c-91f2-66b37b362852",
              "name": "node.firewall",
              "value": "={{ $json.body.node.firewall }}",
              "type": "boolean"
            },
            {
              "id": "0cb22fdc-4103-4b46-b76b-1d50226c8418",
              "name": "node.getMemory",
              "value": "={{ $json.body.node.getMemory }}",
              "type": "boolean"
            },
            {
              "id": "0ea8aa8e-9209-4d73-9f42-34c9b95f6f20",
              "name": "node.botDetector",
              "value": "={{ $json.body.node.botDetector }}",
              "type": "boolean"
            },
            {
              "id": "a9630001-ffc8-4bf6-a64d-a7164be17e39",
              "name": "node.languageDetector",
              "value": "={{ $json.body.node.languageDetector }}",
              "type": "boolean"
            },
            {
              "id": "aba53612-d7ee-4f51-b43e-6c7f55aacd3d",
              "name": "messageFromAdmin",
              "value": "={{ $json.body.messageFromAdmin }}",
              "type": "boolean"
            },
            {
              "id": "2ba0da1a-c98b-4d69-9087-f8003897f5f9",
              "name": "messageFromHuman",
              "value": "={{ $json.body.messageFromHuman }}",
              "type": "boolean"
            },
            {
              "id": "64ad1d8b-e588-43a4-863c-7e98d15c404e",
              "name": "messageFromHumanPause",
              "value": "={{ $json.body.messageFromHumanPause }}",
              "type": "boolean"
            },
            {
              "id": "509d34f3-39a7-4b22-b3ec-95a10dfbc361",
              "name": "accountId",
              "value": "={{ $json.body.accountId }}",
              "type": "number"
            },
            {
              "id": "95402e48-df0a-4805-b8da-4deeb60e6050",
              "name": "conversationId",
              "value": "={{ $json.body.conversationId }}",
              "type": "number"
            },
            {
              "id": "75cdade2-02d5-44bf-a2fc-84f6930c5068",
              "name": "createdAt",
              "value": "={{ $json.body.createdAt }}",
              "type": "string"
            },
            {
              "id": "77533493-1a1b-43e6-992e-39ef62635619",
              "name": "messageId",
              "value": "={{ $json.body.messageId }}",
              "type": "number"
            },
            {
              "id": "d31ed920-83f7-4897-8d6d-707c8bac52a3",
              "name": "messageContent",
              "value": "={{ $json.body.messageContent }}",
              "type": "string"
            },
            {
              "id": "cd7f9344-8c41-4541-8cac-e7519d203199",
              "name": "messageType",
              "value": "={{ $json.body.messageType }}",
              "type": "string"
            },
            {
              "id": "fea54360-7170-4bd7-9f5d-6ef77edbd8a8",
              "name": "eventType",
              "value": "={{ $json.body.eventType }}",
              "type": "string"
            },
            {
              "id": "a84e0957-037a-43a5-ba46-7047f1fa9e55",
              "name": "fileType",
              "value": "={{ $json.body.fileType }}",
              "type": "string"
            },
            {
              "id": "090016b1-cfb3-4899-a140-1561c5965d5b",
              "name": "fileUrl",
              "value": "={{ $json.body.fileUrl }}",
              "type": "string"
            },
            {
              "id": "dfeedb1c-a853-4396-9b74-8eeb142117fa",
              "name": "phoneNumber",
              "value": "={{ $json.body.phoneNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        16
      ],
      "id": "85c223f1-19d7-4dc4-944a-b0a7758c0c6e",
      "name": "Set data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "644d29d0-0ad5-4439-8907-bb29c1328d80",
              "leftValue": "={{ $('Set data').item.json.node.getMemory }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        16
      ],
      "id": "40353acc-6b3e-4132-a1fb-210a1b0938fc",
      "name": "If get memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "742c9956-cbc2-47b6-b974-09f356bc60f3",
              "leftValue": "={{ $('Set data').item.json.node.botDetector }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2944,
        16
      ],
      "id": "0b9f6508-37af-478e-8285-a283153b9f87",
      "name": "If bot detector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "742c9956-cbc2-47b6-b974-09f356bc60f3",
              "leftValue": "={{ $('Set data').item.json.node.languageDetector }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3392,
        16
      ],
      "id": "f3120d35-463d-428e-8d66-21124dd3540b",
      "name": "If language detector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98ee6150-a9fd-4e00-999e-0d60ed32c85f",
              "leftValue": "={{ $('Set data').item.json.node.leadReactivation }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3840,
        16
      ],
      "id": "9c100fa9-a8c8-47b6-9ffa-0d3bf7333456",
      "name": "If lead reactivation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98ee6150-a9fd-4e00-999e-0d60ed32c85f",
              "leftValue": "={{ $('Set data').item.json.node.intentionAnalizer }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4288,
        16
      ],
      "id": "16c3d109-ca0c-419a-88b2-915f234492b1",
      "name": "If intention analizer"
    }
  ],
  "connections": {
    "Filter admin": {
      "main": [
        [
          {
            "node": "If filter all except admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter all except admin": {
      "main": [
        [
          {
            "node": "If firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firewall": {
      "main": [
        [
          {
            "node": "transcribe-media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message-buffer": {
      "main": [
        [
          {
            "node": "If get memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe-media": {
      "main": [
        [
          {
            "node": "message-buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-memory": {
      "main": [
        [
          {
            "node": "If bot detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "language-detector": {
      "main": [
        [
          {
            "node": "If lead reactivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot-detector": {
      "main": [
        [
          {
            "node": "If language detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intention-analizer": {
      "main": [
        [
          {
            "node": "build-system-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead-reactivation": {
      "main": [
        [
          {
            "node": "If intention analizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-system-message": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If filter admin": {
      "main": [
        [
          {
            "node": "Filter admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If filter all except admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If filter all except admin": {
      "main": [
        [
          {
            "node": "Filter all except admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If firewall": {
      "main": [
        [
          {
            "node": "firewall",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "transcribe-media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "If filter admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If get memory": {
      "main": [
        [
          {
            "node": "get-memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If bot detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If bot detector": {
      "main": [
        [
          {
            "node": "bot-detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If language detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If language detector": {
      "main": [
        [
          {
            "node": "language-detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If lead reactivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If lead reactivation": {
      "main": [
        [
          {
            "node": "lead-reactivation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If intention analizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If intention analizer": {
      "main": [
        [
          {
            "node": "intention-analizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "build-system-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}