workflows/infra-workflow - v3.2.json
{
  "name": "infra-workflow - v3.2",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8dbf19e8-e871-4c1d-9dc2-f1d4f4103841",
              "leftValue": "={{ $json.flowdata_admin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        704,
        -24
      ],
      "id": "76a62353-0a87-41b2-8a5f-3fe02b2d8f44",
      "name": "Filter admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f9ad325-43d1-40f3-867b-a1f883cbf221",
              "leftValue": "={{ $json.flowdata.admin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1152,
        -24
      ],
      "id": "eedde1d1-8b48-455e-8692-2e5c8f919c37",
      "name": "Filter all except admin"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "njf4XvB7XfQWJL0K",
          "mode": "list",
          "cachedResultName": "firewall - v4.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageFromMe": "={{ $('Set data').item.json.messageFromMe }}",
            "messageFromHuman": "={{ $('Set data').item.json.messageFromHuman }}",
            "projectName": "={{ $('Set data').item.json.projectName }}",
            "userId": "={{ $('Set data').item.json.phoneNumber }}",
            "messageContent": "={{ $('Set data').item.json.messageContent }}",
            "numbers_to_ignore": "={{ $('Set data').item.json.numbers_to_ignore }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projectName",
              "displayName": "projectName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "messageContent",
              "displayName": "messageContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "messageFromMe",
              "displayName": "messageFromMe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "messageFromHuman",
              "displayName": "messageFromHuman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "numbers_to_ignore",
              "displayName": "numbers_to_ignore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        -24
      ],
      "id": "d9ed52d1-e3fa-4eb5-b5c5-08dc60730ccd",
      "name": "firewall"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DoQMTvZyXhcM5v3w",
          "mode": "list",
          "cachedResultName": "message-buffer - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "timeToWaitInSeconds": "={{ $('Set data').item.json.bufferTimeToWaitInSeconds }}",
            "messageTimestamp": "={{ $('Set data').item.json.createdAt }}",
            "messageContent": "={{ $json.text }}",
            "messageId": "={{ $('Set data').item.json.messageId }}",
            "userId": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.phoneNumber }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageContent",
              "displayName": "messageContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timeToWaitInSeconds",
              "displayName": "timeToWaitInSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2496,
        144
      ],
      "id": "1a9855db-d02c-48af-bace-4e37a07f87dd",
      "name": "message-buffer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i5vyEfrYS2dmpZKd",
          "mode": "list",
          "cachedResultName": "transcribe-media - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "media_type": "={{ $('Set data').item.json.fileType }}",
            "media_url": "={{ $('Set data').item.json.fileUrl }}",
            "message_id": "={{ $('Set data').item.json.messageId }}",
            "message_text": "={{ $('Set data').item.json.messageContent }}",
            "instance_apikey": "={{ $('Set data').item.json.evo_instance_apikey }}",
            "instance_serverUrl": "={{ $('Set data').item.json.evo_instance_serverUrl }}",
            "instance_name": "={{ $('Set data').item.json.evo_instance_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "media_type",
              "displayName": "media_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "instance_name",
              "displayName": "instance_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instance_serverUrl",
              "displayName": "instance_serverUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instance_apikey",
              "displayName": "instance_apikey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2272,
        144
      ],
      "id": "96793d89-5a89-4902-8a00-dbd692a12f04",
      "name": "transcribe-media"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F1Eb1hg8VcjpLsjE",
          "mode": "list",
          "cachedResultName": "intention-analizer - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $('message-buffer').item.json.output }}",
            "conversation_id": "={{ $('Start').item.json.flowdata_conversation_id }}",
            "client_name": "={{ $('Start').item.json.flowdata_project_name }}",
            "system_messsage": "=## ROL:\n\nActúa como un analista de conversaciones para un asistente virtual. Se te proporcionará el historial del chat completo con el usuario y su último mensaje. Tu única tarea es analizar ese contenido y determinar qué tipo de acción se necesita para responder al usuario, y explicar por qué llegaste a esa conclusión.\n\nLas posibles opciones de respuesta son las siguientes:\n\n- `\"informacion-de-la-empresa\"` → Cuando el usuario solicita datos como ubicación de la empresa, los horarios de atención, los medios o políticas de pago, el alias para transferencias, los métodos o políticas de envío, políticas de cambios y devoluciones, redes sociales o el sitio web, o cualquier otra información propia de la empresa.\n- `\"asesoramiento\"` → Cuando el usuario necesita ayuda para tomar una decisión, si necesita precios de tinturas en general, carta/cartilla de colores o saber los tonos dispomibles, pregunta por tinturas sin amoníaco, cómo cubrir canas, hacer reflejos, tonalizar, entender qué es mejor para su caso, etc.\n- `\"buscador-de-productos\"` → Cuando el usuario está buscando un producto específico, disponibilidad, precio, o detalles de productos.\n- `\"cierre-de-venta\"` → Cuando en la última interacción el bot le pasó un pedido a confirmar y ahora el último mensaje del usuario confirma.\n- `\"general\"` → Ninguna de las anteriores.\n\n---\n\nDevuelve la respuesta en formato JSON como una lista de objetos, cada uno con las claves \"require\" y \"why\".\n\nDevuelve más de un objeto si la pregunta del usuario lo requiere. Es válido devolver uno, dos o más de dos objetos dependiendo del contenido del mensaje.\n\n---\n\n### Formato de salida:\n\n```json\n[\n  {\n    \"require\": \"informacion-de-la-empresa\",\n    \"why\": \"porque el usuario preguntó el horario de atención\"\n  },\n  {\n    \"require\": \"buscador-de-productos\",\n    \"why\": \"porque el usuario preguntó por disponibilidad del producto X\"\n  }\n]\n```\n",
            "chat_history": "={{ $('get-memory').item.json.chat_history }}"
          },
          "matchingColumns": [
            "output_firstItem",
            "flowdata_conversation_id_toString"
          ],
          "schema": [
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "chat_history",
              "displayName": "chat_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_messsage",
              "displayName": "system_messsage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4736,
        72
      ],
      "name": "intention-analizer",
      "id": "c6140a66-c33b-464b-aa60-bf0e49a551c7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NGMARSo1UAmMG1FM",
          "mode": "list",
          "cachedResultName": "get-memory - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Set data').item.json.conversationId }}",
            "client_name": "={{ $('Set data').item.json.projectName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2944,
        72
      ],
      "id": "45feab11-9edd-44d2-aa98-dd4f6fd0c8c3",
      "name": "get-memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WNyHyrBoIJ73Jxyl",
          "mode": "list",
          "cachedResultName": "language-detector - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $('message-buffer').item.json.output }}",
            "default_language": "Español"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "default_language",
              "displayName": "default_language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3840,
        72
      ],
      "id": "4be8d595-d1a0-4eb4-9d2e-6c428e059cfc",
      "name": "language-detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OdGlhJN4N2yn72zW",
          "mode": "list",
          "cachedResultName": "build-system-message - v3.3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "business_name": "={{ $('Set data').item.json.projectName }}",
            "language": "Español",
            "repo_name": "={{ $('Set data').item.json.repoName }}"
          },
          "matchingColumns": [
            "language"
          ],
          "schema": [
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "repo_name",
              "displayName": "repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4960,
        144
      ],
      "id": "e762327a-0443-4b39-8d1d-d15733ea58a3",
      "name": "build-system-message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "68zYbBj2adQEPzff",
          "mode": "list",
          "cachedResultName": "bot-detector - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userMessage": "={{ $('Set data').item.json.messageContent }}",
            "customInstructionsToDefineItsNotBot": "={{ $('Set data').item.json.customInstructionsToDefineItsNotBot }}",
            "chatHistory": "={{ $json.chat_history }}"
          },
          "matchingColumns": [
            "output_firstItem",
            "flowdata_conversation_id_toString"
          ],
          "schema": [
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatHistory",
              "displayName": "chatHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "customInstructionsToDefineItsNotBot",
              "displayName": "customInstructionsToDefineItsNotBot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3392,
        72
      ],
      "name": "bot-detector",
      "id": "f6da2f48-514b-4ece-91f3-c2280267d554"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8MHj8V4mBnqgU6K0",
          "mode": "list",
          "cachedResultName": "lead-reactivation - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_name": "={{ $('Start').item.json.flowdata_project_name }}",
            "user_message": "={{ $('Start').item.json.flowdata_content }}",
            "session_id": "={{ $('Start').item.json.flowdata_conversation_id }}",
            "account_id": "={{ $('Start').item.json.flowdata_account_id }}",
            "url": "={{ $('Start').item.json.flowdata_url }}",
            "time_to_reactivate_in_hours": 24,
            "campaing_text_to_recognize": "campaña",
            "text_to_reactive": "Texto para reactivar"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "campaing_text_to_recognize",
              "displayName": "campaing_text_to_recognize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "time_to_reactivate_in_hours",
              "displayName": "time_to_reactivate_in_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "text_to_reactive",
              "displayName": "text_to_reactive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4288,
        72
      ],
      "id": "1ffa4c4c-7106-44d9-8a0f-921c79efe9f1",
      "name": "lead-reactivation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de7c619b-984e-499a-a53c-583b254bda99",
              "name": "systemPromptMainAgent",
              "value": "={{ $json[\"main-agent\"] }}",
              "type": "string"
            },
            {
              "id": "2d7347dd-365e-4f4f-91b4-256c8aa33779",
              "name": "systemPromptCompanyAdvisorAgent",
              "value": "={{ $json[\"company-advisor-agent\"] }}",
              "type": "string"
            },
            {
              "id": "0283b088-beb7-4a10-9ec7-f4b935bb494b",
              "name": "systemPromptRefinerAgent",
              "value": "={{ $json[\"refiner-agent\"] }}",
              "type": "string"
            },
            {
              "id": "4c9efe44-696d-4fc7-8152-2bc707610516",
              "name": "userMessage",
              "value": "={{ $('message-buffer').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5184,
        144
      ],
      "id": "2a0b0f89-4288-4253-98cc-4edc2ed68784",
      "name": "Return"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e855a8b3-270b-4564-8aa3-38913081538e",
              "leftValue": "={{ $json.node.filterAdmin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        48
      ],
      "id": "ccb05bcf-a89b-45cc-8289-3c4c2c541a8a",
      "name": "If filter admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11e2301f-ff9e-443a-9180-328b4cca93ee",
              "leftValue": "={{ $('Set data').item.json.node.filterAllExceptAdmin }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        48
      ],
      "id": "341be61c-7846-4563-a46b-21d70d44a4d8",
      "name": "If filter all except admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce9a61cc-1d53-4bb9-9f08-46c3b66b99f7",
              "leftValue": "={{ $('Set data').item.json.node.firewall }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        48
      ],
      "id": "405ecd6e-346d-4008-be5e-099558586754",
      "name": "If firewall"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67b23e1d-fa8b-44de-be43-36b36c4fc9b8",
              "name": "projectName",
              "value": "={{ $json.projectName }}",
              "type": "string"
            },
            {
              "id": "5ff537c8-71df-4538-b1cd-9e0171611dac",
              "name": "repoName",
              "value": "={{ $json.repoName }}",
              "type": "string"
            },
            {
              "id": "ee39afc7-b9a6-44e5-9f16-9c9404209fee",
              "name": "humanPauseDurationInMinuts",
              "value": "={{ $json.humanPauseDurationInMinuts }}",
              "type": "number"
            },
            {
              "id": "c6a7f9a9-d4ca-494a-827c-29aadb0d13d0",
              "name": "bufferTimeToWaitInSeconds",
              "value": "={{ $json.bufferTimeToWaitInSeconds }}",
              "type": "number"
            },
            {
              "id": "f1fc7640-fc98-42c9-9977-f81ab6328452",
              "name": "numbers_to_ignore",
              "value": "={{ $json.numbers_to_ignore }}",
              "type": "array"
            },
            {
              "id": "024cc4ed-b37e-4925-946a-edccf669a714",
              "name": "node.filterAdmin",
              "value": "={{ $json[\"node.filterAdmin\"] }}",
              "type": "boolean"
            },
            {
              "id": "b915c572-9f53-4f01-a25c-7d7b2c494e43",
              "name": "node.filterAllExceptAdmin",
              "value": "={{ $json[\"node.filterAllExceptAdmin\"] }}",
              "type": "boolean"
            },
            {
              "id": "da8e86b2-80fa-4b9c-91f2-66b37b362852",
              "name": "node.firewall",
              "value": "={{ $json[\"node.firewall\"] }}",
              "type": "boolean"
            },
            {
              "id": "0cb22fdc-4103-4b46-b76b-1d50226c8418",
              "name": "node.getMemory",
              "value": "={{ $json[\"node.getMemory\"] }}",
              "type": "boolean"
            },
            {
              "id": "0ea8aa8e-9209-4d73-9f42-34c9b95f6f20",
              "name": "node.botDetector",
              "value": "={{ $json[\"node.botDetector\"] }}",
              "type": "boolean"
            },
            {
              "id": "e7a45d4f-bf08-4bbc-8a00-d4eb83ab1a06",
              "name": "customInstructionsToDefineItsNotBot",
              "value": "={{ $json.customInstructionsToDefineItsNotBot }}",
              "type": "string"
            },
            {
              "id": "a9630001-ffc8-4bf6-a64d-a7164be17e39",
              "name": "node.languageDetector",
              "value": "={{ $json[\"node.languageDetector\"] }}",
              "type": "boolean"
            },
            {
              "id": "aba53612-d7ee-4f51-b43e-6c7f55aacd3d",
              "name": "messageFromAdmin",
              "value": "={{ $json.messageFromAdmin }}",
              "type": "boolean"
            },
            {
              "id": "2ba0da1a-c98b-4d69-9087-f8003897f5f9",
              "name": "messageFromHuman",
              "value": "={{ $json.messageFromHuman }}",
              "type": "boolean"
            },
            {
              "id": "cd7f9344-8c41-4541-8cac-e7519d203199",
              "name": "messageFromMe",
              "value": "={{ $json.messageFromMe }}",
              "type": "boolean"
            },
            {
              "id": "75cdade2-02d5-44bf-a2fc-84f6930c5068",
              "name": "createdAt",
              "value": "={{ $json.createdAt }}",
              "type": "string"
            },
            {
              "id": "77533493-1a1b-43e6-992e-39ef62635619",
              "name": "messageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "d31ed920-83f7-4897-8d6d-707c8bac52a3",
              "name": "messageContent",
              "value": "={{ $json.messageContent }}",
              "type": "string"
            },
            {
              "id": "477b0863-bf7e-4023-b0fe-db7c8048bc21",
              "name": "fileType",
              "value": "={{ $json.fileType }}",
              "type": "string"
            },
            {
              "id": "090016b1-cfb3-4899-a140-1561c5965d5b",
              "name": "fileUrl",
              "value": "={{ $json.fileUrl }}",
              "type": "string"
            },
            {
              "id": "dfeedb1c-a853-4396-9b74-8eeb142117fa",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "number"
            },
            {
              "id": "3d386f56-7413-4779-b233-33015319ef31",
              "name": "evo_instance_name",
              "value": "={{ $json.evo_instance_name }}",
              "type": "string"
            },
            {
              "id": "12f3eba1-9a62-4e80-9824-765e80c39e3f",
              "name": "evo_instance_serverUrl",
              "value": "={{ $json.evo_instance_serverUrl }}",
              "type": "string"
            },
            {
              "id": "3b580326-209e-4318-a3cb-fb7de0909d51",
              "name": "evo_instance_apikey",
              "value": "={{ $json.evo_instance_apikey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        48
      ],
      "id": "e8dbdae0-3960-4731-b2f8-880bafe42914",
      "name": "Set data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "644d29d0-0ad5-4439-8907-bb29c1328d80",
              "leftValue": "={{ $('Set data').item.json.node.getMemory }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        144
      ],
      "id": "70974082-e1f4-4198-bf29-b4726f1601d7",
      "name": "If get memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "742c9956-cbc2-47b6-b974-09f356bc60f3",
              "leftValue": "={{ $('Set data').item.json.node.botDetector }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3168,
        144
      ],
      "id": "9f41624d-3c95-45ce-87cd-94e151dfafe7",
      "name": "If bot detector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "742c9956-cbc2-47b6-b974-09f356bc60f3",
              "leftValue": "={{ $('Set data').item.json.node.languageDetector }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3616,
        144
      ],
      "id": "17c43f47-acc4-4512-aafc-30f41609095f",
      "name": "If language detector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98ee6150-a9fd-4e00-999e-0d60ed32c85f",
              "leftValue": "={{ $('Set data').item.json.node.leadReactivation }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4064,
        144
      ],
      "id": "7b0147b8-0461-4314-8c88-6afd928c1e3a",
      "name": "If lead reactivation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98ee6150-a9fd-4e00-999e-0d60ed32c85f",
              "leftValue": "={{ $('Set data').item.json.node.intentionAnalizer }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4512,
        144
      ],
      "id": "7cf8c102-a4f2-4f77-b474-a81c9596ef72",
      "name": "If intention analizer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Lg5Nq0YShSbn3Swj",
          "mode": "list",
          "cachedResultName": "human-intervention - v1.3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $('Set data').item.json.messageId }}",
            "pauseDurationInMinuts": "={{ $('Set data').item.json.humanPauseDurationInMinuts }}",
            "userId": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.phoneNumber }}",
            "createdAt": "={{ $('Set data').item.json.createdAt }}",
            "messageFromMe": "={{ $('Set data').item.json.messageFromMe }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "messageFromMe",
              "displayName": "messageFromMe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pauseDurationInMinuts",
              "displayName": "pauseDurationInMinuts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2272,
        -48
      ],
      "name": "human-intervention",
      "id": "a329d12f-6c51-4e05-949b-7ee85d923f3f"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectName"
            },
            {
              "name": "repoName"
            },
            {
              "name": "humanPauseDurationInMinuts",
              "type": "number"
            },
            {
              "name": "bufferTimeToWaitInSeconds",
              "type": "number"
            },
            {
              "name": "numbers_to_ignore",
              "type": "array"
            },
            {
              "name": "node.filterAdmin",
              "type": "boolean"
            },
            {
              "name": "node.filterAllExceptAdmin",
              "type": "boolean"
            },
            {
              "name": "node.firewall",
              "type": "boolean"
            },
            {
              "name": "node.getMemory",
              "type": "boolean"
            },
            {
              "name": "node.botDetector",
              "type": "boolean"
            },
            {
              "name": "customInstructionsToDefineItsNotBot"
            },
            {
              "name": "node.languageDetector",
              "type": "boolean"
            },
            {
              "name": "messageFromAdmin",
              "type": "boolean"
            },
            {
              "name": "messageFromHuman",
              "type": "boolean"
            },
            {
              "name": "messageFromMe",
              "type": "boolean"
            },
            {
              "name": "createdAt"
            },
            {
              "name": "messageId"
            },
            {
              "name": "messageContent"
            },
            {
              "name": "fileType"
            },
            {
              "name": "fileUrl"
            },
            {
              "name": "phoneNumber",
              "type": "number"
            },
            {
              "name": "evo_instance_name"
            },
            {
              "name": "evo_instance_serverUrl"
            },
            {
              "name": "evo_instance_apikey"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        48
      ],
      "id": "e504c5ea-38e5-4fec-93d5-e41377ae6464",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "human_interventions",
        "key": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.phoneNumber }}_human_intervention",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1824,
        48
      ],
      "id": "ee6be2c8-fffa-4ea3-b6c7-f69c86014eee",
      "name": "Get human-intervention message",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38518b80-e87b-4924-a281-cefc8e115f0e",
              "leftValue": "={{ $json.human_interventions.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "73f8391c-5882-48b1-8c1c-b43c3dc609a8",
              "leftValue": "={{ $('Set data').item.json.messageFromMe }}",
              "rightValue": "outgoing",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        48
      ],
      "id": "cbc01f04-82de-400b-b076-29563797a0e2",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2496,
        -48
      ],
      "id": "0858a0b2-4a1b-4f7c-8957-f00ab2ec8fb5",
      "name": "Filter"
    }
  ],
  "connections": {
    "Filter admin": {
      "main": [
        [
          {
            "node": "If filter all except admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter all except admin": {
      "main": [
        [
          {
            "node": "If firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firewall": {
      "main": [
        [
          {
            "node": "Get human-intervention message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message-buffer": {
      "main": [
        [
          {
            "node": "If get memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe-media": {
      "main": [
        [
          {
            "node": "message-buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-memory": {
      "main": [
        [
          {
            "node": "If bot detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "language-detector": {
      "main": [
        [
          {
            "node": "If lead reactivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot-detector": {
      "main": [
        [
          {
            "node": "If language detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intention-analizer": {
      "main": [
        [
          {
            "node": "build-system-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead-reactivation": {
      "main": [
        [
          {
            "node": "If intention analizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-system-message": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If filter admin": {
      "main": [
        [
          {
            "node": "Filter admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If filter all except admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If filter all except admin": {
      "main": [
        [
          {
            "node": "Filter all except admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If firewall": {
      "main": [
        [
          {
            "node": "firewall",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get human-intervention message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "If filter admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If get memory": {
      "main": [
        [
          {
            "node": "get-memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If bot detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If bot detector": {
      "main": [
        [
          {
            "node": "bot-detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If language detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If language detector": {
      "main": [
        [
          {
            "node": "language-detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If lead reactivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If lead reactivation": {
      "main": [
        [
          {
            "node": "lead-reactivation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If intention analizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If intention analizer": {
      "main": [
        [
          {
            "node": "intention-analizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "build-system-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human-intervention": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get human-intervention message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "human-intervention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "transcribe-media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}