workflows/infra-workflow - v4.json
{
  "name": "infra-workflow - v4",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "njf4XvB7XfQWJL0K",
          "mode": "list",
          "cachedResultName": "firewall - v4.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageFromMe": "={{ $('Set data').item.json.messageFromMe }}",
            "messageFromHuman": "={{ $('Set data').item.json.messageFromHuman }}",
            "projectName": "={{ $('Set data').item.json.projectName }}",
            "userId": "={{ $('Set data').item.json.phoneNumber }}",
            "messageContent": "={{ $('Set data').item.json.messageContent }}",
            "numbers_to_ignore": "={{ $('Set data').item.json.numbers_to_ignore }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projectName",
              "displayName": "projectName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "messageContent",
              "displayName": "messageContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "messageFromMe",
              "displayName": "messageFromMe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "messageFromHuman",
              "displayName": "messageFromHuman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "numbers_to_ignore",
              "displayName": "numbers_to_ignore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        704,
        -32
      ],
      "id": "4639d3d5-16f4-4bbc-a9ac-2cf18cd6136d",
      "name": "firewall"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DoQMTvZyXhcM5v3w",
          "mode": "list",
          "cachedResultName": "message-buffer - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "timeToWaitInSeconds": "={{ $('Set data').item.json.bufferTimeToWaitInSeconds }}",
            "messageTimestamp": "={{ $('Set data').item.json.createdAt }}",
            "messageContent": "={{ $json.text }}",
            "messageId": "={{ $('Set data').item.json.messageId }}",
            "userId": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.phoneNumber }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageContent",
              "displayName": "messageContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timeToWaitInSeconds",
              "displayName": "timeToWaitInSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        144
      ],
      "id": "3a976ae6-ab5d-4fe7-a180-2bba7d30fa90",
      "name": "message-buffer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i5vyEfrYS2dmpZKd",
          "mode": "list",
          "cachedResultName": "transcribe-media - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "media_type": "={{ $('Set data').item.json.fileType }}",
            "media_url": "={{ $('Set data').item.json.fileUrl }}",
            "message_id": "={{ $('Set data').item.json.messageId }}",
            "message_text": "={{ $('Set data').item.json.messageContent }}",
            "instance_apikey": "={{ $('Set data').item.json.evo_instance_apikey }}",
            "instance_serverUrl": "={{ $('Set data').item.json.evo_instance_serverUrl }}",
            "instance_name": "={{ $('Set data').item.json.evo_instance_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "media_type",
              "displayName": "media_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "instance_name",
              "displayName": "instance_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instance_serverUrl",
              "displayName": "instance_serverUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instance_apikey",
              "displayName": "instance_apikey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1376,
        144
      ],
      "id": "5bd40e01-1043-452f-adaf-18a5acb1db3b",
      "name": "transcribe-media"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NGMARSo1UAmMG1FM",
          "mode": "list",
          "cachedResultName": "get-memory - v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Set data').item.json.conversationId }}",
            "client_name": "={{ $('Set data').item.json.projectName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2048,
        80
      ],
      "id": "90dd7ea0-c3d8-4396-ab04-4d28d9f2abe8",
      "name": "get-memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VfyRvQYcRdd51nrW",
          "mode": "list",
          "cachedResultName": "build-system-message - v4"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "system_message_rol": "={{ $('Set data').item.json.system_message.rol }}",
            "system_message_tasks": "={{ $('Set data').item.json.system_message.tasks }}",
            "system_message_personality": "={{ $('Set data').item.json.system_message.personality }}",
            "system_message_instructions": "={{ $('Set data').item.json.system_message.instructions }}",
            "system_message_final_check": "={{ $('Set data').item.json.system_message.final_check }}"
          },
          "matchingColumns": [
            "language"
          ],
          "schema": [
            {
              "id": "system_message_rol",
              "displayName": "system_message_rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message_tasks",
              "displayName": "system_message_tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message_personality",
              "displayName": "system_message_personality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message_instructions",
              "displayName": "system_message_instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message_final_check",
              "displayName": "system_message_final_check",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2720,
        144
      ],
      "id": "2cb05bc5-067d-4d27-bf0f-2a76f23cc5ff",
      "name": "build-system-message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "68zYbBj2adQEPzff",
          "mode": "list",
          "cachedResultName": "bot-detector - v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userMessage": "={{ $('Set data').item.json.messageContent }}",
            "customInstructionsToDefineItsNotBot": "={{ $('Set data').item.json.customInstructionsToDefineItsNotBot }}",
            "chatHistory": "={{ $json.chat_history }}"
          },
          "matchingColumns": [
            "output_firstItem",
            "flowdata_conversation_id_toString"
          ],
          "schema": [
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatHistory",
              "displayName": "chatHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "customInstructionsToDefineItsNotBot",
              "displayName": "customInstructionsToDefineItsNotBot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2496,
        80
      ],
      "name": "bot-detector",
      "id": "5cde20f4-37d2-44b4-bbb2-54cfe1ce4575"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de7c619b-984e-499a-a53c-583b254bda99",
              "name": "system_message.main",
              "value": "={{ $json[\"main-agent\"] }}",
              "type": "string"
            },
            {
              "id": "0283b088-beb7-4a10-9ec7-f4b935bb494b",
              "name": "system_message.refiner",
              "value": "={{ $json[\"refiner-agent\"] }}",
              "type": "string"
            },
            {
              "id": "4c9efe44-696d-4fc7-8152-2bc707610516",
              "name": "user_message",
              "value": "={{ $('message-buffer').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        144
      ],
      "id": "c987bbcf-7265-4398-994b-098458972af0",
      "name": "Return"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce9a61cc-1d53-4bb9-9f08-46c3b66b99f7",
              "leftValue": "={{ $('Set data').item.json.node.firewall }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        48
      ],
      "id": "28c3e2ac-03db-4276-ba82-92ee6f9aedc0",
      "name": "If firewall"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67b23e1d-fa8b-44de-be43-36b36c4fc9b8",
              "name": "projectName",
              "value": "={{ $json.projectName }}",
              "type": "string"
            },
            {
              "id": "0b3a25ec-915b-454b-aa32-d99be55b7424",
              "name": "system_message.rol",
              "value": "={{ $json.system_message_rol }}",
              "type": "string"
            },
            {
              "id": "7695e052-284d-42a2-b717-12de7434595e",
              "name": "system_message.tasks",
              "value": "={{ $json.system_message_tasks }}",
              "type": "string"
            },
            {
              "id": "4cd242b0-5bde-4614-978b-b9e044b0a0b1",
              "name": "system_message.personality",
              "value": "={{ $json.system_message_personality }}",
              "type": "string"
            },
            {
              "id": "c801464a-a268-4270-b7e6-f1e7220a92eb",
              "name": "system_message.instructions",
              "value": "={{ $json.system_message_instructions }}",
              "type": "string"
            },
            {
              "id": "37d4b8fb-9b6f-48e7-a94f-b969f184e683",
              "name": "system_message.final_check",
              "value": "={{ $json.system_message_final_check }}",
              "type": "string"
            },
            {
              "id": "ee39afc7-b9a6-44e5-9f16-9c9404209fee",
              "name": "humanPauseDurationInMinuts",
              "value": "={{ $json.humanPauseDurationInMinuts }}",
              "type": "number"
            },
            {
              "id": "c6a7f9a9-d4ca-494a-827c-29aadb0d13d0",
              "name": "bufferTimeToWaitInSeconds",
              "value": "={{ $json.bufferTimeToWaitInSeconds }}",
              "type": "number"
            },
            {
              "id": "f1fc7640-fc98-42c9-9977-f81ab6328452",
              "name": "numbers_to_ignore",
              "value": "={{ $json.numbers_to_ignore }}",
              "type": "array"
            },
            {
              "id": "da8e86b2-80fa-4b9c-91f2-66b37b362852",
              "name": "node.firewall",
              "value": "={{ $json[\"node.firewall\"] }}",
              "type": "boolean"
            },
            {
              "id": "0cb22fdc-4103-4b46-b76b-1d50226c8418",
              "name": "node.getMemory",
              "value": "={{ $json[\"node.getMemory\"] }}",
              "type": "boolean"
            },
            {
              "id": "0ea8aa8e-9209-4d73-9f42-34c9b95f6f20",
              "name": "node.botDetector",
              "value": "={{ $json[\"node.botDetector\"] }}",
              "type": "boolean"
            },
            {
              "id": "e7a45d4f-bf08-4bbc-8a00-d4eb83ab1a06",
              "name": "customInstructionsToDefineItsNotBot",
              "value": "={{ $json.customInstructionsToDefineItsNotBot }}",
              "type": "string"
            },
            {
              "id": "cd7f9344-8c41-4541-8cac-e7519d203199",
              "name": "messageFromMe",
              "value": "={{ $json.messageFromMe }}",
              "type": "boolean"
            },
            {
              "id": "75cdade2-02d5-44bf-a2fc-84f6930c5068",
              "name": "createdAt",
              "value": "={{ $json.createdAt }}",
              "type": "string"
            },
            {
              "id": "77533493-1a1b-43e6-992e-39ef62635619",
              "name": "messageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "d31ed920-83f7-4897-8d6d-707c8bac52a3",
              "name": "messageContent",
              "value": "={{ $json.messageContent }}",
              "type": "string"
            },
            {
              "id": "477b0863-bf7e-4023-b0fe-db7c8048bc21",
              "name": "fileType",
              "value": "={{ $json.fileType }}",
              "type": "string"
            },
            {
              "id": "090016b1-cfb3-4899-a140-1561c5965d5b",
              "name": "fileUrl",
              "value": "={{ $json.fileUrl }}",
              "type": "string"
            },
            {
              "id": "dfeedb1c-a853-4396-9b74-8eeb142117fa",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "number"
            },
            {
              "id": "3d386f56-7413-4779-b233-33015319ef31",
              "name": "evo_instance_name",
              "value": "={{ $json.evo_instance_name }}",
              "type": "string"
            },
            {
              "id": "12f3eba1-9a62-4e80-9824-765e80c39e3f",
              "name": "evo_instance_serverUrl",
              "value": "={{ $json.evo_instance_serverUrl }}",
              "type": "string"
            },
            {
              "id": "3b580326-209e-4318-a3cb-fb7de0909d51",
              "name": "evo_instance_apikey",
              "value": "={{ $json.evo_instance_apikey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        48
      ],
      "id": "619c1de6-5d92-492b-bd79-daaf3a693c8f",
      "name": "Set data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "644d29d0-0ad5-4439-8907-bb29c1328d80",
              "leftValue": "={{ $('Set data').item.json.node.getMemory }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        144
      ],
      "id": "d85672dd-b407-4cce-996c-9dba6b11df31",
      "name": "If get memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "742c9956-cbc2-47b6-b974-09f356bc60f3",
              "leftValue": "={{ $('Set data').item.json.node.botDetector }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        144
      ],
      "id": "0850d857-f1d8-4798-bc89-b799577f047b",
      "name": "If bot detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Lg5Nq0YShSbn3Swj",
          "mode": "list",
          "cachedResultName": "human-intervention - v1.3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $('Set data').item.json.messageId }}",
            "pauseDurationInMinuts": "={{ $('Set data').item.json.humanPauseDurationInMinuts }}",
            "userId": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.phoneNumber }}",
            "createdAt": "={{ $('Set data').item.json.createdAt }}",
            "messageFromMe": "={{ $('Set data').item.json.messageFromMe }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "messageFromMe",
              "displayName": "messageFromMe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pauseDurationInMinuts",
              "displayName": "pauseDurationInMinuts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1376,
        -48
      ],
      "name": "human-intervention",
      "id": "82434ab4-a315-4a57-8f2e-2e83de3d2647"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectName"
            },
            {
              "name": "system_message_rol"
            },
            {
              "name": "system_message_tasks"
            },
            {
              "name": "system_message_personality"
            },
            {
              "name": "system_message_instructions"
            },
            {
              "name": "system_message_final_check"
            },
            {
              "name": "humanPauseDurationInMinuts",
              "type": "number"
            },
            {
              "name": "bufferTimeToWaitInSeconds",
              "type": "number"
            },
            {
              "name": "numbers_to_ignore",
              "type": "array"
            },
            {
              "name": "node.firewall",
              "type": "boolean"
            },
            {
              "name": "node.getMemory",
              "type": "boolean"
            },
            {
              "name": "node.botDetector",
              "type": "boolean"
            },
            {
              "name": "customInstructionsToDefineItsNotBot"
            },
            {
              "name": "messageFromMe",
              "type": "boolean"
            },
            {
              "name": "createdAt"
            },
            {
              "name": "messageId"
            },
            {
              "name": "messageContent"
            },
            {
              "name": "fileType"
            },
            {
              "name": "fileUrl"
            },
            {
              "name": "phoneNumber",
              "type": "number"
            },
            {
              "name": "evo_instance_name"
            },
            {
              "name": "evo_instance_serverUrl"
            },
            {
              "name": "evo_instance_apikey"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        48
      ],
      "id": "d494d12a-5d0b-40de-bfee-865ae88e1a30",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "human_interventions",
        "key": "={{ $('Set data').item.json.projectName }}_{{ $('Set data').item.json.phoneNumber }}_human_intervention",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        928,
        48
      ],
      "id": "6d643c38-b36a-41dd-b01c-0e1d1725d020",
      "name": "Get human-intervention message",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38518b80-e87b-4924-a281-cefc8e115f0e",
              "leftValue": "={{ $json.human_interventions.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "73f8391c-5882-48b1-8c1c-b43c3dc609a8",
              "leftValue": "={{ $('Set data').item.json.messageFromMe }}",
              "rightValue": "outgoing",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        48
      ],
      "id": "3ebe8c74-bf84-4cbe-9d5d-f4af1df24727",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace2d184-3bc9-40b5-91df-c96b84275149",
              "leftValue": "filter",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1600,
        -48
      ],
      "id": "06c1110e-339d-4881-8fd4-bff2dedbc0e5",
      "name": "Filter"
    }
  ],
  "connections": {
    "firewall": {
      "main": [
        [
          {
            "node": "Get human-intervention message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message-buffer": {
      "main": [
        [
          {
            "node": "If get memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe-media": {
      "main": [
        [
          {
            "node": "message-buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-memory": {
      "main": [
        [
          {
            "node": "If bot detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot-detector": {
      "main": [
        [
          {
            "node": "build-system-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-system-message": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If firewall": {
      "main": [
        [
          {
            "node": "firewall",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get human-intervention message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "If firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If get memory": {
      "main": [
        [
          {
            "node": "get-memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If bot detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If bot detector": {
      "main": [
        [
          {
            "node": "bot-detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "build-system-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human-intervention": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get human-intervention message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "human-intervention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "transcribe-media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}