workflows/main-agent.json
{
  "name": "main-agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3fee3da9-c6a8-405f-b853-6c48d627590d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        576
      ],
      "id": "26408cc1-76a4-4765-8114-ac06b9d22735",
      "name": "Chatwoot",
      "webhookId": "3fee3da9-c6a8-405f-b853-6c48d627590d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('general-data').item.json.flowdata.phoneNumber }}",
        "tableName": "={{ $('general-data').item.json.flowdata.set.projectName }}_n8n_chat_histories",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1584,
        608
      ],
      "id": "eddac705-b3bc-4ca2-ad6f-393c2d672436",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "xKI0Rsj9nPwMEm0Q",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VgzRX4sB431iHLcJpV0ok03HDdIyKILuzsGAk84tCjo",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VgzRX4sB431iHLcJpV0ok03HDdIyKILuzsGAk84tCjo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VgzRX4sB431iHLcJpV0ok03HDdIyKILuzsGAk84tCjo/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        -16,
        0
      ],
      "id": "59a2de8f-18b7-4a91-baf4-e9818b7f6fab",
      "name": "When fetching a dataset row",
      "credentials": {
        "googleApi": {
          "id": "UDitTNIuZ8oToriK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VgzRX4sB431iHLcJpV0ok03HDdIyKILuzsGAk84tCjo",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VgzRX4sB431iHLcJpV0ok03HDdIyKILuzsGAk84tCjo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VgzRX4sB431iHLcJpV0ok03HDdIyKILuzsGAk84tCjo/edit#gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "actual_output",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.6,
      "position": [
        2656,
        0
      ],
      "id": "3766ae0f-9acd-4c31-9371-17af0628e90a",
      "name": "Evaluation1",
      "credentials": {
        "googleApi": {
          "id": "UDitTNIuZ8oToriK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        192
      ],
      "id": "8e29702e-c554-4375-895f-ca2f6a8d48b1",
      "name": "When chat message received",
      "webhookId": "e123e56f-3415-4d6d-a5c7-024619778748"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df494ff6-2d59-4d7f-817c-846321ad686d",
              "name": "flowdata.messageFromMe",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "6ef36fd7-bef2-4f0d-a5a7-84b79681d4c2",
              "name": "flowdata.createdAt",
              "value": "={{ Math.floor(Date.now() / 1000).toDateTime('s') }}",
              "type": "string"
            },
            {
              "id": "c2b0e878-3336-4815-8971-bcee6673b0de",
              "name": "flowdata.messageId",
              "value": "=999",
              "type": "number"
            },
            {
              "id": "ca83f9c5-edff-45aa-b924-4365b86aa076",
              "name": "flowdata.messageContent",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "63713fc3-8c8a-4f56-a773-c0193432759e",
              "name": "flowdata.eventType",
              "value": "messages.upsert",
              "type": "string"
            },
            {
              "id": "90db4070-28c2-4b7b-9669-31a195d8d908",
              "name": "flowdata.phoneNumber",
              "value": "=123456789",
              "type": "string"
            },
            {
              "id": "dbada595-b0cf-421c-8fbc-e52c4b356377",
              "name": "workflow.chat",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        192
      ],
      "id": "a365194f-cac1-420b-b715-175bd515e445",
      "name": "Set data for chat"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('general-data').item.json.workflow.evaluations }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "756783ce-30db-4cf9-b983-02fe716523b2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "evaluation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12f5e1c9-db0e-4943-9e44-01f89e94f38a",
                    "leftValue": "={{ $('general-data').item.json.workflow.chat }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4720d394-a952-4ed1-8d11-0fb114d10de8",
                    "leftValue": "={{ $('general-data').item.json.workflow.evolution }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "evolution"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a4bddc0d-32a8-42d1-9052-7234bae43af0",
                    "leftValue": "={{ $('general-data').item.json.workflow.chatwoot }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwoot"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2432,
        352
      ],
      "id": "002cd3d1-eb15-43fc-a0ea-aabb651d17c0",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2656,
        192
      ],
      "id": "fdee2781-1834-4fa7-a910-de5d1b0f88e9",
      "name": "Chat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=La \"respuesta-de-la-ia\" fue la siguiente: \"{{ $json.output }}\".\n(No trates esta respuesta como mensaje del usuario, es la misma respuesta que tu debes retornar pero siguiendo tus instrucciones).",
        "options": {
          "systemMessage": "={{ $('infra-workflow').item.json.system_message.refiner }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2080,
        384
      ],
      "id": "7f60f3b6-3da4-4b28-8ae5-887f37c245ec",
      "name": "refiner-agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "={{ $json.system_message.main }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1456,
        384
      ],
      "id": "aeed1076-0404-4d5d-998f-90328f72beda",
      "name": "main-agent"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('general-data').item.json.flowdata.set.projectName }}_{{ $('general-data').item.json.flowdata.phoneNumber }}_lastMessage",
        "messageData": "={{ $json.content }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2880,
        576
      ],
      "id": "44c6bb39-c13c-4cf6-ae37-619220152a25",
      "name": "Save last message",
      "credentials": {
        "redis": {
          "id": "zlVWqKFSgUSVauIh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dys2bFob0UY4Ld4D",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dys2bFob0UY4Ld4D",
          "cachedResultName": "infra-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "node.firewall": "={{ $('custom-data').item.json.flowdata.node.firewall }}",
            "node.getMemory": "={{ $('custom-data').item.json.flowdata.node.getMemory }}",
            "node.botDetector": "={{ $('custom-data').item.json.flowdata.node.botDetector }}",
            "humanPauseDurationInMinuts": "={{ $('custom-data').item.json.flowdata.set.humanPauseDurationInMinuts }}",
            "bufferTimeToWaitInSeconds": "={{ $('custom-data').item.json.flowdata.set.bufferTimeToWaitInSeconds }}",
            "messageId": "={{ $('general-data').item.json.flowdata.messageId }}",
            "projectName": "={{ $('custom-data').item.json.flowdata.set.projectName }}",
            "createdAt": "={{ $('general-data').item.json.flowdata.createdAt }}",
            "messageContent": "={{ $('general-data').item.json.flowdata.messageContent }}",
            "fileType": "={{ $('general-data').item.json.flowdata.fileType }}",
            "fileUrl": "={{ $('general-data').item.json.flowdata.fileUrl }}",
            "phoneNumber": "={{ $('general-data').item.json.flowdata.phoneNumber }}",
            "messageFromMe": "={{ $('general-data').item.json.flowdata.messageFromMe }}",
            "evo_instance_apikey": "={{ $('general-data').item.json.evo.apikey }}",
            "evo_instance_name": "={{ $('general-data').item.json.evo.instance }}",
            "evo_instance_serverUrl": "={{ $('general-data').item.json.evo.server_url }}",
            "numbers_to_ignore": "={{ $('custom-data').item.json.numbers_to_ignore }}",
            "system_message_rol": "={{ $('custom-data').item.json.system_message.rol }}",
            "system_message_tasks": "={{ $('custom-data').item.json.system_message.tasks }}",
            "system_message_personality": "={{ $('custom-data').item.json.system_message.personality }}",
            "system_message_instructions": "={{ $('custom-data').item.json.system_message.instructions }}",
            "system_message_final_check": "={{ $('custom-data').item.json.system_message.final_check }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projectName",
              "displayName": "projectName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "system_message_rol",
              "displayName": "system_message_rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message_tasks",
              "displayName": "system_message_tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message_personality",
              "displayName": "system_message_personality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message_instructions",
              "displayName": "system_message_instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message_final_check",
              "displayName": "system_message_final_check",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "humanPauseDurationInMinuts",
              "displayName": "humanPauseDurationInMinuts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "bufferTimeToWaitInSeconds",
              "displayName": "bufferTimeToWaitInSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "numbers_to_ignore",
              "displayName": "numbers_to_ignore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "node.firewall",
              "displayName": "node.firewall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "node.getMemory",
              "displayName": "node.getMemory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "node.botDetector",
              "displayName": "node.botDetector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "customInstructionsToDefineItsNotBot",
              "displayName": "customInstructionsToDefineItsNotBot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageFromMe",
              "displayName": "messageFromMe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "messageContent",
              "displayName": "messageContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fileType",
              "displayName": "fileType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fileUrl",
              "displayName": "fileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "evo_instance_name",
              "displayName": "evo_instance_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "evo_instance_serverUrl",
              "displayName": "evo_instance_serverUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "evo_instance_apikey",
              "displayName": "evo_instance_apikey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1104,
        384
      ],
      "id": "e0d76e62-15a3-4dc1-978b-6e98371fa2f8",
      "name": "infra-workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2d4caf10-1f87-4a07-9d49-588c9274f8f4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        384
      ],
      "id": "94edbb37-6b16-451e-9c24-bbc7b2ebb703",
      "name": "Evo",
      "webhookId": "2d4caf10-1f87-4a07-9d49-588c9274f8f4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set data for evolution').item.json.evo.server_url }}/message/sendText/{{ $('Set data for evolution').item.json.evo.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set data for evolution').item.json.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Set data for evolution').item.json.flowdata.phoneNumber }}"
            },
            {
              "name": "text",
              "value": "={{ $('refiner-agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2656,
        384
      ],
      "id": "67598abd-f884-4618-9c7c-e11e61c57cd2",
      "name": "Evolution send message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set data for chatwoot').item.json.chatwoot_url }}/api/v1/accounts/{{ $('Set data for chatwoot').item.json.flowdata.accountId }}/conversations/{{ $('Set data for chatwoot').item.json.flowdata.conversationId }}/messages/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('refiner-agent').item.json.output }}"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2656,
        576
      ],
      "id": "ca1acc3b-74b1-4802-8a18-b658b54ee4d1",
      "name": "Chatwoot send message",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nWyAJQsTprwGKxtE",
          "name": "Chatwoot - Header Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "410cbcea-3803-4253-a272-3a42bed6b330",
              "name": "chatwoot_url",
              "value": "https://services-chatwoot.qn7hmw.easypanel.host",
              "type": "string"
            },
            {
              "id": "8987c1d9-84f2-477e-84fe-3d161c32cb57",
              "name": "flowdata.messageFromAdmin",
              "value": "={{ $json.body.conversation.labels.includes(\"admin\") }}",
              "type": "boolean"
            },
            {
              "id": "25093dd1-cee2-47ab-a60b-6d8f8739ca7d",
              "name": "flowdata.messageFromHuman",
              "value": "={{ $json.body.conversation.labels.includes(\"human\") }}",
              "type": "boolean"
            },
            {
              "id": "f0778a22-c8b5-4e66-b548-902224c03e5c",
              "name": "flowdata.accountId",
              "value": "={{ $json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "2f52027a-3835-4ed3-bc30-8e713b65ee8c",
              "name": "flowdata.conversationId",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "number"
            },
            {
              "id": "6ef36fd7-bef2-4f0d-a5a7-84b79681d4c2",
              "name": "flowdata.createdAt",
              "value": "={{ $json.body.conversation.messages[0].created_at.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "c2b0e878-3336-4815-8971-bcee6673b0de",
              "name": "flowdata.messageId",
              "value": "={{ $json.body.conversation.messages[0].id }}",
              "type": "number"
            },
            {
              "id": "ca83f9c5-edff-45aa-b924-4365b86aa076",
              "name": "flowdata.messageContent",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "fddd99b6-bde9-41f5-afde-5b3b60e75c68",
              "name": "flowdata.messageType",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "c7ef341a-8cbf-4531-8cc3-3a2ea20aa161",
              "name": "flowdata.eventType",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "cc94dfe0-140b-4bbe-98fd-b66653c915d6",
              "name": "flowdata.fileType",
              "value": "={{ $json.body.conversation.messages[0].attachments[0].file_type}}",
              "type": "string"
            },
            {
              "id": "c9065bdc-aa73-4426-962a-f9daf2468871",
              "name": "flowdata.fileUrl",
              "value": "={{ $json.body.conversation.messages[0].attachments[0].data_url }}",
              "type": "string"
            },
            {
              "id": "8303ea5d-cc2b-4e12-9224-858afe4f8aec",
              "name": "flowdata.phoneNumber",
              "value": "={{ $json.body.conversation.meta.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "36820426-b1ca-4503-8a02-daf4a9f4ccfd",
              "name": "workflow.chatwoot",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        576
      ],
      "id": "66015405-e1ef-4e8e-a222-88dda919f1d7",
      "name": "Set data for chatwoot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "012b67cc-5215-4110-8dc6-b89b22ee282c",
              "name": "flowdata.createdAt",
              "value": "={{ new Date($json.body.date_time).toISOString().replace('Z', '-03:00') }}",
              "type": "string"
            },
            {
              "id": "ca442afc-85cf-4b0f-b10f-6c58a7f0410e",
              "name": "flowdata.messageId",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "57422a68-960d-4bff-998a-113e25777939",
              "name": "flowdata.messageContent",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message.imageMessage.caption }}",
              "type": "string"
            },
            {
              "id": "f31d3594-60e5-4dba-a2ee-5a91f6a58a8a",
              "name": "flowdata.messageFromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "fb1675de-0fc2-4e77-9e6f-17c53f9503cb",
              "name": "flowdata.messageType",
              "value": "",
              "type": "string"
            },
            {
              "id": "62d20e53-a5c7-4e87-945b-d1204b58749a",
              "name": "flowdata.eventType",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "2195e222-d1a3-4b3f-a12b-f3ace2a886bb",
              "name": "flowdata.fileType",
              "value": "={{ $json.body.data.message.audioMessage?.mimetype || $json.body.data.message.imageMessage?.mimetype || $json.body.data.message.ephemeralMessage.message.documentMessage?.mimetype }}",
              "type": "string"
            },
            {
              "id": "a51bf55c-f3e9-4af8-827c-03ba3c111583",
              "name": "flowdata.fileUrl",
              "value": "={{ $json.body.data.message.audioMessage?.url || $json.body.data.message.imageMessage?.url || $json.body.data.message.ephemeralMessage.message.documentMessage?.url }}",
              "type": "string"
            },
            {
              "id": "6376bf2f-630c-42c7-9db6-663627641cc7",
              "name": "flowdata.phoneNumber",
              "value": "={{ $json.body.data.key.remoteJid.split(':')[0].split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "4505136c-6c82-46c2-80f1-163af889772a",
              "name": "body.conversation.messages[0].created_at",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "77c0bbe0-307e-4fa7-a723-55fe4e739ece",
              "name": "body.conversation.messages[0].conversation_id",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "cf66cef4-082d-4b81-ab2c-351394b73640",
              "name": "evo.instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "9741e2d6-47e5-4b52-a0c0-fb303265ff99",
              "name": "evo.apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "d4b03337-25bc-4617-9146-2bead0943795",
              "name": "evo.server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "24852e81-f1e2-47dc-84a5-7ae3df0170c6",
              "name": "workflow.evolution",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        384
      ],
      "id": "fd1129a5-40a8-438a-baf2-5cb35ec1d705",
      "name": "Set data for evolution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df494ff6-2d59-4d7f-817c-846321ad686d",
              "name": "flowdata.messageFromMe",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "6ef36fd7-bef2-4f0d-a5a7-84b79681d4c2",
              "name": "flowdata.createdAt",
              "value": "={{ Math.floor(Date.now() / 1000).toDateTime('s') }}",
              "type": "string"
            },
            {
              "id": "c2b0e878-3336-4815-8971-bcee6673b0de",
              "name": "flowdata.messageId",
              "value": "=999",
              "type": "number"
            },
            {
              "id": "ca83f9c5-edff-45aa-b924-4365b86aa076",
              "name": "flowdata.messageContent",
              "value": "={{ $json.user_message }}",
              "type": "string"
            },
            {
              "id": "63713fc3-8c8a-4f56-a773-c0193432759e",
              "name": "flowdata.eventType",
              "value": "messages.upsert",
              "type": "string"
            },
            {
              "id": "90db4070-28c2-4b7b-9669-31a195d8d908",
              "name": "flowdata.phoneNumber",
              "value": "=123456789",
              "type": "string"
            },
            {
              "id": "dbada595-b0cf-421c-8fbc-e52c4b356377",
              "name": "workflow.evaluations",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "8a87f95b-eca8-4015-ac2f-692303b0413d",
      "name": "Set data for evaluations"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1104,
        192
      ],
      "id": "f0e0cc84-d0df-4241-b395-b42122776349",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('general-data').item.json.flowdata.phoneNumber }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "c02da7bc-5658-4ead-a72e-736f80f4601e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pzblo"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        288
      ],
      "id": "e6c6e335-6034-45fb-8a85-1898bc4febd0",
      "name": "Hub"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "752dbfff-4bb7-4241-b99c-dbfb9ca9dd09",
              "name": "flowdata.messageFromMe",
              "value": "={{ $json.flowdata.messageType === \"outgoing\" || $json.flowdata.messageFromMe ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "6ef36fd7-bef2-4f0d-a5a7-84b79681d4c2",
              "name": "flowdata.createdAt",
              "value": "={{ $json.flowdata.createdAt }}",
              "type": "string"
            },
            {
              "id": "c2b0e878-3336-4815-8971-bcee6673b0de",
              "name": "flowdata.messageId",
              "value": "={{ $json.flowdata.messageId }}",
              "type": "string"
            },
            {
              "id": "ca83f9c5-edff-45aa-b924-4365b86aa076",
              "name": "flowdata.messageContent",
              "value": "={{ $json.flowdata.messageContent }}",
              "type": "string"
            },
            {
              "id": "cc94dfe0-140b-4bbe-98fd-b66653c915d6",
              "name": "flowdata.fileType",
              "value": "={{ $json.flowdata.fileType }}",
              "type": "string"
            },
            {
              "id": "c9065bdc-aa73-4426-962a-f9daf2468871",
              "name": "flowdata.fileUrl",
              "value": "={{ $json.flowdata.fileUrl }}",
              "type": "string"
            },
            {
              "id": "8303ea5d-cc2b-4e12-9224-858afe4f8aec",
              "name": "flowdata.phoneNumber",
              "value": "={{ $json.flowdata.phoneNumber.replace('+', '') }}",
              "type": "number"
            },
            {
              "id": "a2f88336-69d0-4343-92ab-1e75f82db22a",
              "name": "evo.instance",
              "value": "={{ $json.evo.instance }}",
              "type": "string"
            },
            {
              "id": "5c523633-53d2-4771-9e29-f3fc49bb4447",
              "name": "evo.server_url",
              "value": "={{ $json.evo.server_url }}",
              "type": "string"
            },
            {
              "id": "8e904292-4f50-4d5f-aafc-1acefe87fe96",
              "name": "evo.apikey",
              "value": "={{ $json.evo.apikey }}",
              "type": "string"
            },
            {
              "id": "1e55e2e5-bc5b-433e-aa99-3cdb8e36a89c",
              "name": "workflow.evaluations",
              "value": "={{ $json.workflow.evaluations }}",
              "type": "boolean"
            },
            {
              "id": "8f5e0290-f0ae-4941-b82d-97c6118fc3ad",
              "name": "workflow.chat",
              "value": "={{ $json.workflow.chat }}",
              "type": "boolean"
            },
            {
              "id": "1fe15d1a-0988-4b76-8640-6fcdc6109feb",
              "name": "workflow.evolution",
              "value": "={{ $json.workflow.evolution }}",
              "type": "boolean"
            },
            {
              "id": "55549689-bc1a-41c7-bb6f-afadcf482cb8",
              "name": "workflow.chatwoot",
              "value": "={{ $json.workflow.chatwoot }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        288
      ],
      "id": "45e762d9-721a-4f3c-aac4-613ac7d65374",
      "name": "general-data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fd1d7fc-53ab-407c-abba-409cf7f02579",
              "name": "system_message.rol",
              "value": "=Eres Pzblo, el asistente virtual de \"Sinapzia\", una empresa dedicada a \"el desarrollo de Agentes de Inteligencia Artificial\". Te especializas en \"Agentes de Inteligencia Artificial\" y atend\u00e9s a clientes por WhatsApp con respuestas breves siguiendo estrictamente las instrucciones que te son indicadas.",
              "type": "string"
            },
            {
              "id": "f636adbd-1edf-4796-88b8-d7f3f24bb1f6",
              "name": "system_message.tasks",
              "value": "=Tu objetivo principal es \"asesorar sobre agentes de inteligencia artificial\".",
              "type": "string"
            },
            {
              "id": "0d97fc57-aa67-49c3-907c-e04c40740aea",
              "name": "system_message.personality",
              "value": "=- Eres un hombre, hablas de manera natural pero profesional.\n- Usas emojis tecnol\u00f3gicos o de comunicaci\u00f3n con moderaci\u00f3n, nunca caritas como esta: \ud83d\ude0a.",
              "type": "string"
            },
            {
              "id": "a08da3ec-2a1b-4a6f-8782-3f94bff05cf5",
              "name": "system_message.instructions",
              "value": "=- **No seas insistente con ofrecer agendar una reuni\u00f3n**: Si ya lo has ofrecido en la conversaci\u00f3n, no lo repitas. Solo menci\u00f3alo si el usuario lo solicita expl\u00edcitamente o si surge de forma natural como soluci\u00f3n a una duda.\n\n- **No des precios espec\u00edficos**: Si preguntan por costos, responde que depende del negocio del cliente, ya que son servicios personalizados y adaptados a cada caso. Agrega que, como el servicio est\u00e1 en etapa de lanzamiento, los costos son realmente muy bajos para hacerlo accesible a peque\u00f1as empresas.\n\n- **No inventes funcionalidades**: Lim\u00edtate estrictamente a las funcionalidades indicadas en estas instrucciones y en la informaci\u00f3n del sitio web. No agregues caracter\u00edsticas no mencionadas, como integraciones con otras plataformas m\u00e1s all\u00e1 de WhatsApp o capacidades avanzadas no descritas.\n\n- **Manejo de dudas irresolubles**: Si hay preguntas o dudas que no puedas resolver con la informaci\u00f3n disponible (por ejemplo, detalles muy espec\u00edficos del negocio del cliente o consultas t\u00e9cnicas complejas), ofrece delegar la conversaci\u00f3n a Pablo para que \u00e9l responda personalmente.\n\n- **Respuestas creativas y conversacionales**: Si el cliente quiere hablar contigo para probar c\u00f3mo funcionas (por ejemplo, simulando una interacci\u00f3n), d\u00e9jalo hablar y responde de manera creativa, natural y \u00fatil, demostrando las capacidades del agente sin exagerar.\n\n---\n\n## TU INFORMACI\u00d3N DISPONIBLE:\n\n### El Problema (Lo que las peque\u00f1as empresas suelen enfrentar):\n\n- Demasiados mensajes para responder: Es dif\u00edcil dar respuesta a todas las consultas en tiempo y forma, sobre todo cuando llegan fuera del horario laboral o en momentos de alta demanda, lo cual resulta en ventas perdidas.\n- Las mismas preguntas una y otra vez: Preguntas como \"\u00bfCu\u00e1nto cuesta?\", \"\u00bfTienen stock?\", \"\u00bfCu\u00e1les son los horarios?\", etc. Aunque simples, consumen tiempo valioso que podr\u00eda dedicarse a tareas m\u00e1s cruciales.\n- Falta de tiempo (o inter\u00e9s) para aprender IA: Los due\u00f1os de negocio no tienen por qu\u00e9 ser expertos en IA. Su energ\u00eda est\u00e1 en hacer crecer la empresa, por lo que, aunque vean su valor, no pueden (o no quieren) dedicarle el tiempo requerido.\n\n### La Soluci\u00f3n (Un Agente de Inteligencia Artificial para WhatsApp \u2014 Hecho a tu medida):\n\n- Dise\u00f1ado espec\u00edficamente para tu negocio, este asistente puede:\n\n  - Responder a consultas de clientes al instante 24/7: Atender\u00e1 a tus clientes de manera inmediata, sin importar la hora o el d\u00eda. Esto significa que nunca perder\u00e1s una oportunidad por estar ocupado y que podr\u00e1s dedicar tu tiempo a hacer crecer tu negocio.\n  - Compartir informaci\u00f3n precisa de tu empresa, productos o servicios: Ser\u00e1 entrenado para dar siempre la informaci\u00f3n correcta y actualizada, desde precios y stock hasta caracter\u00edsticas de un producto, tiempos de entrega, atender reclamos o cerrar ventas.\n  - No requiere conocimientos t\u00e9cnicos ni tiempo, ni cambios de tu parte: No tienes que aprender nada ni cambiar la manera en la que trabajas actualmente. Nos ocupamos de todo: creamos el agente, lo entrenamos para tu negocio y lo mantenemos funcionando y creciendo en sus habilidades para que cada vez te sea m\u00e1s \u00fatil.\n\n### Por qu\u00e9 somos diferentes?:\n\n- En sinapzia no te damos un bot gen\u00e9rico: Creamos un agente que trabaja como un nuevo miembro de tu equipo. Conoce tu negocio, entiende a tus clientes y responde con el mismo cuidado y atenci\u00f3n que recibir\u00edan de ti.\n- Centrados en el cliente: No creamos necesidades, entendemos necesidades y brindamos soluciones.\n- Integraci\u00f3n: No esperamos que vos te adaptes a nuestros sistemas, nosotros nos adaptamos a los tuyos.\n- Actualizaci\u00f3n continua: Tu agente estar\u00e1 en permanente evoluci\u00f3n, adquiriendo nuevas habilidades y si\u00e9ndote m\u00e1s \u00fatil d\u00eda a d\u00eda.\n\n### Plan y precios (Aprovech\u00e1 el lanzamiento):\n\n- Describe los planes sin mencionar cifras espec\u00edficas (siguiendo la regla de no dar precios):\n  - Essential Edition: Agente IA entrenado para tu negocio, integraci\u00f3n con tu flujo de trabajo, actualizaciones y mejoras continuas, soporte humano cuando lo necesites.\n  - Launch Edition: Precio especial de lanzamiento (garantizado por un per\u00edodo inicial), con todas las funcionalidades de la edici\u00f3n Essential.\n- Enfatiza que los servicios son soluciones personalizadas y adaptadas a cada negocio.\n\n### Llamadas a Acci\u00f3n y Demostraci\u00f3n Gratuita:\n\n- Si el usuario no est\u00e1 seguro si la IA puede ayudarle, sugiere empezar con algo sencillo: Una breve conversaci\u00f3n para identificar tus desaf\u00edos, seguida de una demostraci\u00f3n gratuita y personalizada para tu negocio.\n- La demostraci\u00f3n gratuita consiste en crear un asistente virtual personalizado para el negocio del cliente y conectado a su WhatsApp para que pueda atender a sus clientes.\n- Para agendar usa la herramienta `scheduling-agent`.\n\n---\n\n## Manejo de Reuniones y Demostraciones\n\n- **Agendamiento de reuniones**: Para agendar usa la herramienta `scheduling-agent`.\n- **Formato de la reuni\u00f3n**: Se realiza por video conferencia. La plataforma espec\u00edfica (como Zoom, Google Meet, etc.) se combina luego con Pablo cuando \u00e9l se contacte.\n\n---\n\n## TUS HERRAMIENTAS\n\n- Si para responder la consulta del usuario necesitas la siguiente informaci\u00f3n: Medios de contacto, redes sociales, ubicaci\u00f3n, horarios de atenci\u00f3n, medios de pago, usa la herramienta `company-advisor-agent`.\n\n- Si para responder la consulta del usuario necesitas saber disponibilidad de la agenda, agendar un turno, modificarlo o cancelarlo, usa la herramienta `scheduling-agent`.\n\n---\n\n- Tienes que ser muy breve al hablar, intenta resumir tus respuestas lo m\u00e1ximo posible, est\u00e1s en una conversaci\u00f3n, no hace falta que des toda la informaci\u00f3n en un solo mensaje.\n",
              "type": "string"
            },
            {
              "id": "dfe9850d-549d-4bbf-83e4-06adc74f779b",
              "name": "system_message.final_check",
              "value": "=1. Si vas a responder que no tienes un producto o cierta informaci\u00f3n asegurate de haber usado las herramientas correspondientes.\n2. No repitas cosas que ya dijiste anteriormente, cambia levemente tu respuesta para no sonar repetitivo.\n3. DATOS PARA TRANSFERENCIAS: Nunca des datos de transferencia sin haberlos obtenidos de la herramienta correspondiente.",
              "type": "string"
            },
            {
              "id": "180eac52-f6df-4be5-b8af-d79424d92569",
              "name": "flowdata.set.projectName",
              "value": "el_asesor",
              "type": "string"
            },
            {
              "id": "1b3b2e19-1a11-447c-b129-c1b9d5e9522f",
              "name": "flowdata.set.humanPauseDurationInMinuts",
              "value": 2,
              "type": "number"
            },
            {
              "id": "fecddc18-98ff-40ba-99d9-60d166d77441",
              "name": "flowdata.set.bufferTimeToWaitInSeconds",
              "value": 1,
              "type": "number"
            },
            {
              "id": "becb7f0f-5014-46b6-880b-11f06bf13ee1",
              "name": "numbers_to_ignore",
              "value": "={{[]}}",
              "type": "array"
            },
            {
              "id": "d6a0c05a-6cdc-4241-8fd6-8e5b316ed751",
              "name": "flowdata.node.firewall",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "b4a33e93-c8fd-459a-835a-c817c1ebc68b",
              "name": "flowdata.node.getMemory",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "575391d8-4837-44da-a33c-9fc1c6caace0",
              "name": "flowdata.node.botDetector",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        288
      ],
      "id": "ef12cfd4-0a8d-4cc6-a7dd-0111278dedd7",
      "name": "custom-data"
    },
    {
      "parameters": {
        "toolDescription": "=Usa la herramienta `company-info` cuando para responder la consulta del cliente necesitas la siguiente informaci\u00f3n: Medios de contacto, redes sociales, ubicaci\u00f3n, horarios de atenci\u00f3n, medios de pago, alias para transferencia, descuentos o pol\u00edticas de reserva, c\u00f3mo se realizan los env\u00edos, sus costos o tiempos de entrega, los cambios, devoluciones o garant\u00edas.\n\nUsa la herramienta `company-info` generando el valor del input \"Prompt_user_message\" con toda la informaci\u00f3n necesaria para obtener una buena respuesta.\n\nEjemplos:\n\n- Si el cliente pidi\u00f3 la direcci\u00f3n usa esta herramienta con la \"query\": `Necesito la direcci\u00f3n del local`.\n\n- Si el cliente quiere saber si el local est\u00e1 abierto usa esta herramienta con la \"query\": `Necesito los horarios del local`.\n\n- Si el cliente quiere saber el alias usa esta herramienta con la \"query\": `Necesito el alias para realizar transferencias`.\n\n- Si el cliente quiere saber cuanto demora un env\u00edo usa esta herramienta con la \"query\": `Necesito los tiempos de env\u00edo`.\n\n- Si el cliente solicita medios de contacto o redes sociales usa esta herramienta con la \"query\": `Necesito los medios de contacto o las redes sociales`.\n",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1712,
        608
      ],
      "id": "442d469d-e55d-4b89-8413-d3e1c1937ae0",
      "name": "main-agent-assistant"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1328,
        608
      ],
      "id": "0c1da08b-f53b-4d4b-86bf-047ca1f2907a",
      "name": "gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "leOLHYOtXey0DgzA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1728,
        816
      ],
      "id": "470f2030-a742-4296-ba49-198ff8e3aa6c",
      "name": "gpt-4o-mini 2",
      "credentials": {
        "openAiApi": {
          "id": "leOLHYOtXey0DgzA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        608
      ],
      "id": "57c5d0a5-14c3-4db3-a6e3-c64293cc5ddc",
      "name": "gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "leOLHYOtXey0DgzA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2160,
        608
      ],
      "id": "59e78d77-cefb-4182-90f4-1510253dfe01",
      "name": "gpt-4o-mini 3",
      "credentials": {
        "openAiApi": {
          "id": "leOLHYOtXey0DgzA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "1OzolByjGLp6aMePUvdKfZkDCh9HDlu6a16kZmddwnlU",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1856,
        816
      ],
      "id": "90ef728e-a625-4e4e-8784-d11f1b15682e",
      "name": "company-info",
      "credentials": {
        "googleApi": {
          "id": "UDitTNIuZ8oToriK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Chatwoot": {
      "main": [
        [
          {
            "node": "Set data for chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "main-agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Set data for evaluations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set data for chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data for chat": {
      "main": [
        [
          {
            "node": "general-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refiner-agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main-agent": {
      "main": [
        [
          {
            "node": "refiner-agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "infra-workflow": {
      "main": [
        [
          {
            "node": "main-agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evo": {
      "main": [
        [
          {
            "node": "Set data for evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot send message": {
      "main": [
        [
          {
            "node": "Save last message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data for chatwoot": {
      "main": [
        [
          {
            "node": "general-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data for evolution": {
      "main": [
        [
          {
            "node": "general-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data for evaluations": {
      "main": [
        [
          {
            "node": "general-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hub": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "infra-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "general-data": {
      "main": [
        [
          {
            "node": "custom-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "custom-data": {
      "main": [
        [
          {
            "node": "Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main-agent-assistant": {
      "ai_tool": [
        [
          {
            "node": "main-agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "main-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini 2": {
      "ai_languageModel": [
        [
          {
            "node": "main-agent-assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "main-agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "gpt-4o-mini 3": {
      "ai_languageModel": [
        [
          {
            "node": "refiner-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "company-info": {
      "ai_tool": [
        [
          {
            "node": "main-agent-assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}