workflows/message-buffer - v1.1.json
{
  "name": "message-buffer - v1.1",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "propertyName": "list_array",
        "key": "={{ $('Set flow data').item.json.flowdata['session_id'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -660,
        125
      ],
      "id": "e88743fd-fbca-43aa-958d-87436fa73a59",
      "name": "Get messages",
      "credentials": {
        "redis": {
          "id": "AT4Iqbzd8lEoYu8w",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.flowdata.session_id }}",
        "messageData": "={{ JSON.stringify($json.flowdata) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -880,
        125
      ],
      "id": "6eb91a4b-a70f-4dfc-a637-589b2e51c93e",
      "name": "Push messages",
      "credentials": {
        "redis": {
          "id": "AT4Iqbzd8lEoYu8w",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Set flow data').item.json.flowdata.time_to_wait }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        225
      ],
      "id": "0e4da861-a99e-46dd-b102-6e44db60ad65",
      "name": "Wait",
      "webhookId": "6b0be606-3591-4ad8-b9f4-71326030a007"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set flow data').item.json.flowdata.session_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "afb10027-2fac-4b44-b419-f74620923c59",
      "name": "Delete messages",
      "credentials": {
        "redis": {
          "id": "AT4Iqbzd8lEoYu8w",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ec9d6a6-e7a2-4c92-854a-16daafc60117",
              "name": "output",
              "value": "={{ $json.list_array.map(item => JSON.parse(item).session_input).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "c890c104-f656-4d40-b48a-4cd8315550b8",
      "name": "Join messages"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_id",
              "type": "number"
            },
            {
              "name": "session_id"
            },
            {
              "name": "session_input"
            },
            {
              "name": "session_timestamp"
            },
            {
              "name": "time_to_wait"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        125
      ],
      "id": "01059cef-f5ae-47fc-b051-c2c3d05518d5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4fbc21dc-7879-4474-bb5c-e56216fa05b4",
              "leftValue": "={{ JSON.parse($json.list_array.first()).message_id }}",
              "rightValue": "={{ $('Set flow data').item.json.flowdata.message_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -440,
        50
      ],
      "id": "c8449c95-5a3f-4a16-a3c9-9f86f0e7ba8a",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc6b80d6-7348-4b22-b518-d84f899c6e6f",
                    "leftValue": "={{ JSON.parse($json.list_array.last()).session_timestamp }}",
                    "rightValue": "={{ $now.minus($('Set flow data').item.json.flowdata.time_to_wait, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        50
      ],
      "id": "3ee18d89-4b7a-4f9b-902e-3da9e1e347b4",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7869e360-ec39-487e-9680-24eb9d4f5f91",
              "name": "flowdata.message_id",
              "value": "={{ $json.message_id }}",
              "type": "string"
            },
            {
              "id": "d38a99f3-461c-4a17-9ba4-e8770723d234",
              "name": "flowdata.session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "ec027acc-3bc4-427b-b0f5-fa0b9ff62700",
              "name": "flowdata.session_input",
              "value": "={{ $json.session_input }}",
              "type": "string"
            },
            {
              "id": "a58131b0-edde-463a-83d3-5b1a590a6123",
              "name": "flowdata.session_timestamp",
              "value": "={{ $json.session_timestamp }}",
              "type": "string"
            },
            {
              "id": "5aec02f3-a020-4df4-a48a-9b2a5271cd1d",
              "name": "flowdata.time_to_wait",
              "value": "={{ $json.time_to_wait }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1100,
        125
      ],
      "id": "f795ee55-2cc5-433d-83f9-011d5dfd215c",
      "name": "Set flow data"
    }
  ],
  "connections": {
    "Get messages": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push messages": {
      "main": [
        [
          {
            "node": "Get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete messages": {
      "main": [
        [
          {
            "node": "Join messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set flow data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Delete messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set flow data": {
      "main": [
        [
          {
            "node": "Push messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}