workflows/transcribe-media - v1.3.json
{
  "name": "transcribe-media - v1.3",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80d8e8e6-5809-4ed7-9e9b-aa3fc62520d1",
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a3ff7ac1-f0ba-4088-b891-25d18b2a33ab",
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb8d92e2-0bfa-4937-9ecd-d889ab15f6e1",
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "File"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "text"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -656,
        352
      ],
      "id": "d160f231-c1c8-48b4-ad19-125432f5344b",
      "name": "Content type"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -208,
        0
      ],
      "id": "bb208694-3ccf-4f95-a74e-e078bfb8d422",
      "name": "Audio transcriber",
      "credentials": {
        "openAiApi": {
          "id": "leOLHYOtXey0DgzA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -208,
        192
      ],
      "id": "ffef1017-9177-4631-a4c4-9f5445b93409",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "leOLHYOtXey0DgzA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f77c6a0-d2e5-4522-855f-f0f3d3db6d39",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        672
      ],
      "id": "87157599-1263-4e2f-a74c-9caede00fcdf",
      "name": "Get text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8902392-9dc9-4f23-af29-74f9e323a7da",
              "name": "text",
              "value": "=Audio converted to text:\n{{ $json.text }}\n\nText:\n{{ $('When Executed by Another Workflow').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "76ba4439-b937-4670-8b8a-7b0cf74467cb",
      "name": "Get text from audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18e6bbe0-8c2a-409a-b2fa-c07a0f8b90b5",
              "name": "text",
              "value": "=Image converted to text:\n{{ $json.content }}\n\nText:\n{{ $('When Executed by Another Workflow').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        192
      ],
      "id": "8f2488f4-2172-4f46-9795-ed00f4f17674",
      "name": "Get text from image"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "media_type"
            },
            {
              "name": "media_url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        384
      ],
      "id": "5fe3cf76-76ff-43e3-9fa9-03f463a9f6a7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ $json.media_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        0
      ],
      "id": "6b23c5a9-25a1-4a1c-8b41-b52882510089",
      "name": "Download audio"
    },
    {
      "parameters": {
        "url": "={{ $json.media_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        192
      ],
      "id": "202262db-649a-43fb-8240-04dfa34deccb",
      "name": "Download image"
    },
    {
      "parameters": {
        "url": "={{ $json.media_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        384
      ],
      "id": "a9fddeca-5683-4449-b778-b29a575bc85e",
      "name": "Download file"
    },
    {
      "parameters": {
        "jsCode": "// Get the input items\nconst items = $input.all();\n\n// Process each item\nreturn items.map(item => {\n  // Safely access media_url with fallback\n  const url = item?.json?.media_url;\n  \n  // Extract extension only if url exists\n  const extension = url ? url.split('.').pop()?.split('?')[0] : null;\n  \n  // Return the original item with the new extension field\n  return {\n    json: {\n      ...item.json,\n      file_extension: extension || 'unknown' // Fallback if extension is null\n    }\n  };\n});"
      },
      "id": "e036f6db-758f-4a2f-8e12-f330e283889d",
      "name": "Extract file extension",
      "type": "n8n-nodes-base.code",
      "position": [
        -432,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_extension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "edc87861-0e56-4190-9a96-622b90c12bb7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -208,
        480
      ],
      "id": "c98c8843-e222-4d3f-b3a7-163bafaafb49",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K83007227088957"
            },
            {
              "name": "language",
              "value": "spa"
            },
            {
              "name": "isOverlayRequired",
              "value": "false"
            },
            {
              "name": "OCREngine",
              "value": "2"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        384
      ],
      "id": "edd3fd03-6543-4d8b-b831-23652c8fb796",
      "name": "ocr.space"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18e6bbe0-8c2a-409a-b2fa-c07a0f8b90b5",
              "name": "text",
              "value": "=File converted to text:\n{{ $json.ParsedResults[0].ParsedText }}\n\nText:\n{{ $('When Executed by Another Workflow').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        384
      ],
      "id": "71a1ffbd-4123-4dc9-b4ef-598a3519168a",
      "name": "Get text from pdf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18e6bbe0-8c2a-409a-b2fa-c07a0f8b90b5",
              "name": "text",
              "value": "=File shared:\n\"It is not possible to see this type of files.\"\n\nText:\n{{ $('When Executed by Another Workflow').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        576
      ],
      "id": "bfd228be-d48c-4df4-90ea-ed419e522365",
      "name": "Get text1"
    }
  ],
  "connections": {
    "Content type": {
      "main": [
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract file extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio transcriber": {
      "main": [
        [
          {
            "node": "Get text from audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Get text from image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Audio transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "ocr.space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract file extension": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ocr.space": {
      "main": [
        [
          {
            "node": "Get text from pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}